@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "TT Interfaces";
  transition: 0.3s;
  list-style: none;
  outline: none;
}

a {
  color: #000;
  text-decoration: none;
}

/*
- Контейнер - 1
- Кнопки - 2
- шапка - 3
- Главный экран - index - 4
- Что вы получите с EVORICH? - index - 5
- Наши проекты - index - 6 
- Экосистема EVORICH в цифрах - index - 7 
- Что дает партнерство с EVORICH? - index - 8 
- форма отправки - index - 9 
- история партнеров ( слайдер ) - index - 10
- футер - 11
*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container.container_mod {
  position: relative;
  height: 100%;
}
.container.container_mod::before {
  content: "";
  width: 65%;
  min-height: 900px;
  position: absolute;
  left: 0;
  top: 0%;
  z-index: -1;
  opacity: 0.5;
  border-left: 0.833333px solid #F5F5F5;
  border-right: 0.833333px solid #F5F5F5;
}
.container.container_mod::after {
  content: "";
  width: 65%;
  height: 100%;
  min-height: 900px;
  position: absolute;
  right: 0;
  top: 0%;
  z-index: -1;
  opacity: 0.5;
  border-left: 0.833333px solid #F5F5F5;
  border-right: 0.833333px solid #F5F5F5;
}

.btn {
  min-width: 170px;
  padding: 12px;
  background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  -webkit-backdrop-filter: blur(5.33333px);
          backdrop-filter: blur(5.33333px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn.btn--black {
  background: #000;
}
.btn.btn--blue {
  background: #3E22F8;
}
.btn:hover {
  background: linear-gradient(-94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  box-shadow: 0 0 20px rgba(62, 34, 248, 0.3);
}
.btn img {
  margin-left: 15px;
  width: 17px;
}

.btn-border {
  min-width: 160px;
  padding: 15px 40px;
  border: 1.33333px solid #C5C5C5;
  -webkit-backdrop-filter: blur(5.33333px);
          backdrop-filter: blur(5.33333px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 15px;
  color: #5F5F5F;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
.btn-border:hover {
  box-shadow: 0 0 20px rgba(197, 197, 197, 0.5);
}
.btn-border img {
  margin-left: 15px;
}

.btn-border-gradient {
  min-width: 154px;
  padding: 16px 18px;
  border: 1px solid;
  border-image: linear-gradient(-94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  border-image-slice: 1;
  -webkit-backdrop-filter: blur(5.33333px);
          backdrop-filter: blur(5.33333px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 13.3333px;
  line-height: 16px;
  cursor: pointer;
  color: #5F5F5F;
  position: relative;
  overflow: hidden;
}
.btn-border-gradient:hover {
  box-shadow: 0 0 20px rgba(128, 26, 154, 0.2);
}
.btn-border-gradient img {
  margin-left: 15px;
  filter: invert(1);
  transform: scale(0.7);
}

.btn-wile {
  min-width: 214px;
  max-width: 270px;
  padding: 23px 18px;
  background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  overflow: hidden;
}
.btn-wile:hover {
  box-shadow: 0 0 20px rgba(197, 197, 197, 0.5);
}
.btn-wile .txt-bg {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.btn-wile img {
  margin-left: 15px;
}

.btn-black {
  min-width: 214px;
  padding: 18px 18px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(26.6667px);
          backdrop-filter: blur(26.6667px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: normal;
  font-size: 13.3333px;
  line-height: 16px;
  border: 1px solid;
  border-image: linear-gradient(-94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  border-image-slice: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn-black.btn-fix {
  position: absolute;
  right: 46px;
  top: 90%;
  z-index: 50;
}
.btn-black:hover {
  background: linear-gradient(-94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  box-shadow: 0 0 20px rgba(62, 34, 248, 0.2);
}
.btn-black img {
  margin-left: 15px;
}

.header {
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
  background: #fff;
  border-bottom: 1px solid #EEEEEE;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.header .container .menu-open {
  display: none;
}
.header .container .logo {
  margin-bottom: -8px;
}
.header .container .logo img {
  width: 125px;
}
.header .container .menu {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.header .container .menu ul {
  display: flex;
  align-items: center;
}
.header .container .menu ul li {
  position: relative;
}
.header .container .menu ul li:last-child {
  border: unset;
}
.header .container .menu ul li.active .menu-drop {
  opacity: 1;
  pointer-events: visible;
}
.header .container .menu ul li.active .men-a {
  color: #3E22F8;
}
.header .container .menu ul li.active .men-a .img-rot {
  transform: rotate(180deg);
}
.header .container .menu ul li .men-a {
  padding: 0 40px;
  border-right: 1.33333px solid #EEEEEE;
}
.header .container .menu ul li .men-a:hover {
  color: #3E22F8;
}
.header .container .menu ul li .men-a.active {
  color: #3E22F8;
}
.header .container .menu ul li .men-a img {
  margin-left: 10px;
}
.header .container .menu ul li .menu-drop {
  position: absolute;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 20px;
  width: 100%;
  opacity: 1;
  pointer-events: visible;
  flex-direction: column;
  padding-bottom: 5px;
}
.header .container .menu ul li .menu-drop a {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 11px 5px;
  border-bottom: 1px solid #F5F5F5;
  color: #000000;
  min-height: 50px;
}
.header .container .menu ul li .menu-drop a:last-child {
  margin-bottom: 0;
  border: none;
}
.header .container .menu ul li .menu-drop a img {
  width: 30px;
  margin-right: 24px;
}
.header .container .lang {
  position: relative;
}
.header .container .lang-start {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.33333px solid #EEEEEE;
  border-radius: 2.66667px;
  padding: 6px;
}
.header .container .lang-start img {
  margin: 0 3px;
  width: 20px;
}
.header .container .lang-start .drop-img {
  width: 8px;
  margin-bottom: -2px;
}
.header .container .lang-drop {
  position: absolute;
  z-index: 41;
  width: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: #fff;
  max-height: 100px;
  overflow: auto;
  padding: 10px 0;
  padding-left: 15px;
}
.header .container .lang-drop.active {
  opacity: 1;
  pointer-events: visible;
}
.header .container .lang-drop a {
  margin: 3px 0;
}
.header .container .lang-drop a img {
  width: 20px;
}
.header .container .lang ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
.header .container .lang ::-webkit-scrollbar-track {
  background-color: #E4E4E4;
}
.header .container .lang ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
}
.header .container .lang ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
}
.header .container .lang ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
.header .container .lang ::-webkit-scrollbar {
  width: 4px;
}

.section {
  width: 100%;
  min-height: 615px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;
}
.section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/icon/Background-index.png") center no-repeat;
  background-size: cover;
}
.section.section-create {
  min-height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: unset;
}
.section.section-create::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/Background-create.jpg") center no-repeat;
  background-size: cover;
}
.section.section-create .container {
  display: flex;
  justify-content: center;
  flex-direction: unset;
  padding-top: 0;
}
.section .container {
  min-height: 615px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}
.section .container .title {
  font-weight: 600;
  font-size: 50px;
  line-height: 62px;
  color: #fff;
}
.section .container .boxs-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  pointer-events: none;
}
.section .container .boxs-row .box {
  width: 100%;
  height: 100%;
  min-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(13.3333px);
          backdrop-filter: blur(13.3333px);
  transition: 0.3s;
  position: relative;
  z-index: 1;
  pointer-events: visible;
}
.section .container .boxs-row .box:nth-child(3) span {
  margin-top: 25px;
}
.section .container .boxs-row .box:nth-child(3) img {
  width: 60px;
}
.section .container .boxs-row .box:hover .line {
  opacity: 0;
}
.section .container .boxs-row .box .line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -1px;
  bottom: 0px;
  background: url("../img/icon/line-2.png") left bottom no-repeat;
  transition: 0.3s;
}
.section .container .boxs-row .box:hover::before {
  opacity: 0;
}
.section .container .boxs-row .box:hover {
  background: linear-gradient(89.15deg, rgba(190, 18, 64, 0.8) -190.35%, rgba(128, 26, 154, 0.8) 19.63%, rgba(62, 34, 248, 0.8) 219.01%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  min-height: 240px;
}
.section .container .boxs-row .box:hover::after {
  opacity: 0;
}
.section .container .boxs-row .box:nth-child(1):hover ~ :nth-child(2) .border {
  border-left: 16px solid #551B9D;
}
.section .container .boxs-row .box:nth-child(1):hover ~ :nth-child(2) .line {
  opacity: 0;
}
.section .container .boxs-row .box:nth-child(1):hover ~ :nth-child(2)::after {
  opacity: 0;
}
.section .container .boxs-row .box:nth-child(2):hover ~ :nth-child(3) .border {
  border-left: 16px solid #551B9D;
}
.section .container .boxs-row .box:nth-child(2):hover ~ :nth-child(3) .line {
  opacity: 0;
}
.section .container .boxs-row .box:nth-child(2):hover ~ :nth-child(3)::after {
  opacity: 0;
}
.section .container .boxs-row .box:nth-child(3):hover ~ :nth-child(4) .border {
  border-left: 16px solid #551B9D;
}
.section .container .boxs-row .box:nth-child(3):hover ~ :nth-child(4) .line {
  opacity: 0;
}
.section .container .boxs-row .box:nth-child(3):hover ~ :nth-child(4)::after {
  opacity: 0;
}
.section .container .boxs-row .box img {
  width: 80px;
}
.section .container .boxs-row .box span {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 65%;
}
.section .container .boxs-row .box .border {
  border: 16px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  left: 0px;
  margin-bottom: 0px;
  z-index: 20;
}
.section .container .boxs-row-m {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  pointer-events: none;
}
.section .container .boxs-row-m .box {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(13.3333px);
          backdrop-filter: blur(13.3333px);
  transition: 0.3s;
  position: relative;
  z-index: 1;
  pointer-events: visible;
}
.section .container .boxs-row-m .box:nth-child(3) span {
  margin-top: 30px;
}
.section .container .boxs-row-m .box:nth-child(3) .border {
  margin-top: -20px;
}
.section .container .boxs-row-m .box:nth-child(4) .border {
  margin-top: -50px;
}
.section .container .boxs-row-m .box:hover .line {
  opacity: 0;
}
.section .container .boxs-row-m .box .line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -1px;
  bottom: 0px;
  background: url("../img/icon/line.png") left bottom no-repeat;
  transition: 0.3s;
}
.section .container .boxs-row-m .box:hover::before {
  opacity: 0;
}
.section .container .boxs-row-m .box:hover {
  background: linear-gradient(89.15deg, rgba(190, 18, 64, 0.8) -190.35%, rgba(128, 26, 154, 0.8) 19.63%, rgba(62, 34, 248, 0.8) 219.01%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.section .container .boxs-row-m .box::after {
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 1.33333px solid #484848;
}
.section .container .boxs-row-m .box:hover::after {
  opacity: 0;
}
.section .container .boxs-row-m .box:nth-child(1):hover ~ :nth-child(2) .border {
  border-left: 25px solid #5C22A4;
}
.section .container .boxs-row-m .box:nth-child(1):hover ~ :nth-child(2) .line {
  opacity: 0;
}
.section .container .boxs-row-m .box:nth-child(1):hover ~ :nth-child(2)::after {
  opacity: 0;
}
.section .container .boxs-row-m .box:nth-child(2):hover ~ :nth-child(3) .border {
  border-left: 25px solid #5C22A4;
}
.section .container .boxs-row-m .box:nth-child(2):hover ~ :nth-child(3) .line {
  opacity: 0;
}
.section .container .boxs-row-m .box:nth-child(2):hover ~ :nth-child(3)::after {
  opacity: 0;
}
.section .container .boxs-row-m .box:nth-child(3):hover ~ :nth-child(4) .border {
  border-left: 25px solid #5C22A4;
}
.section .container .boxs-row-m .box:nth-child(3):hover ~ :nth-child(4) .line {
  opacity: 0;
}
.section .container .boxs-row-m .box:nth-child(3):hover ~ :nth-child(4)::after {
  opacity: 0;
}
.section .container .boxs-row-m .box.box-l2 {
  min-height: 373px;
  position: relative;
  z-index: 1;
}
.section .container .boxs-row-m .box.box-l3 {
  min-height: 346px;
  position: relative;
  z-index: 1;
}
.section .container .boxs-row-m .box.box-l4 {
  min-height: 320px;
  position: relative;
  z-index: 1;
}
.section .container .boxs-row-m .box span {
  font-weight: normal;
  font-size: 21.3333px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 55%;
}
.section .container .boxs-row-m .box .border {
  border: 25px solid transparent;
  border-left: 25px solid transparent;
  position: absolute;
  left: 0px;
  margin-bottom: -30px;
  z-index: 20;
}

.section-what-get {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.section-what-get .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-what-get .container .left {
  width: 100%;
  max-width: 812px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 100px;
}
.section-what-get .container .left span {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  color: #000000;
  display: block;
  margin-bottom: 32px;
}
.section-what-get .container .left a {
  position: relative;
  margin-top: 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #C5C5C5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}
.section-what-get .container .left a:last-child::before {
  background: transparent;
}
.section-what-get .container .left a.active {
  background-image: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
}
.section-what-get .container .left a.active::after {
  opacity: 1;
}
.section-what-get .container .left a::before {
  content: "";
  width: 100%;
  height: 2px;
  min-width: 133px;
  max-width: 133px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  opacity: 0.5;
}
.section-what-get .container .left a::after {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  right: -40px;
  opacity: 0.5;
  background: url("../img/icon/line-right.svg") center right no-repeat;
  background-size: contain;
}
.section-what-get .container .content-right {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.section-what-get .container .content-right .right {
  width: 100%;
  height: 100%;
  min-width: 640px;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.section-what-get .container .content-right .right.activeTab {
  display: flex;
}
.section-what-get .container .content-right .right-img {
  width: 323px;
  margin-top: -25px;
  margin-right: 20px;
}
.section-what-get .container .content-right .right .text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  flex-direction: column;
}
.section-what-get .container .content-right .right .text p {
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  line-height: 170%;
  margin-bottom: 60px;
}
.section-what-get .container .content-right .btn {
  min-width: 135px;
  padding: 15px;
  position: relative;
  left: 90px;
  bottom: 50px;
}
.section-what-get .container .content-right .btn img {
  width: 7px;
}

.our-projects {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-projects .container {
  padding-right: 128px;
  padding-left: 100px;
}

.our-projects-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.our-projects-title span {
  display: block;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-transform: uppercase;
}
.our-projects-title .block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-projects-title .block img {
  margin-right: 21px;
}
.our-projects-title .block p {
  width: 100%;
  max-width: 280px;
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
}

.our-projects-body {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  position: relative;
}
.our-projects-body::before {
  content: "";
  width: 100%;
  height: 1.5px;
  position: absolute;
  left: 0;
  top: 0;
  background: #8a8efa;
}
.our-projects-body::after {
  content: "";
  width: 1.5px;
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#8a8efa, transparent);
}
.our-projects-body .block {
  width: 30%;
  margin-right: 30px;
  margin-bottom: 60px;
}
.our-projects-body .block:hover .block-icon img {
  filter: grayscale(0);
  opacity: 1;
}
.our-projects-body .block:hover .block-icon img:last-child {
  transform: rotate(0);
}
.our-projects-body .block-title {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.our-projects-body .block-title img {
  margin-right: 13px;
}
.our-projects-body .block-title p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.our-projects-body .block-span {
  width: 60%;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  margin-bottom: 10px;
  color: #5F5F5F;
}
.our-projects-body .block-icon img {
  margin-right: 7px;
  filter: grayscale(1);
  opacity: 0.2;
}
.our-projects-body .block-icon img:last-child {
  transform: rotate(-45deg);
}

.EVORICH-numbers {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}
.EVORICH-numbers::before {
  content: "";
  width: 100%;
  max-width: 1070px;
  height: 100%;
  position: absolute;
  right: 50px;
  top: 30px;
  pointer-events: none;
  background: url("../img/index/eath.png") center right no-repeat;
  background-size: contain;
}

.EVORICH-numbers-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 76px;
}

.EVORICH-numbers-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EVORICH-numbers-img {
  width: 100%;
  max-width: 810px;
  height: 100%;
  min-height: 722px;
}
.EVORICH-numbers-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.EVORICH-numbers-text {
  padding: 0 60px;
  height: 100%;
  min-height: 722px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.EVORICH-numbers-text .block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 75px;
}
.EVORICH-numbers-text .block:last-child {
  margin-bottom: 0;
}
.EVORICH-numbers-text .block span {
  display: block;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.EVORICH-numbers-text .block p {
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  width: 100%;
  max-width: 70%;
}

.EVORICH-partnership {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EVORICH-partnership-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EVORICH-partnership-row-text {
  width: 50%;
  padding-left: 75px;
}
.EVORICH-partnership-row-text span {
  display: block;
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-transform: uppercase;
  width: 100%;
  max-width: 80%;
}
.EVORICH-partnership-row-text p {
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 15px;
  line-height: 180%;
  width: 100%;
  max-width: 400px;
}
.EVORICH-partnership-row-text .tabs-part {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.EVORICH-partnership-row-text .tabs-part a {
  position: relative;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #C5C5C5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EVORICH-partnership-row-text .tabs-part a.active {
  background-image: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #000;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
}
.EVORICH-partnership-row-text .tabs-part a.active::after {
  opacity: 1;
}
.EVORICH-partnership-row-text .tabs-part a::after {
  content: "";
  width: 15px;
  height: 18px;
  position: absolute;
  right: -40px;
  opacity: 0.5;
  background: url("../img/icon/line-right.svg") center right no-repeat;
  background-size: contain;
}

.EVORICH-partnership-row-border {
  width: 100%;
  max-width: 671px;
  height: 100%;
  min-height: 671px;
  display: none;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
.EVORICH-partnership-row-border.active {
  display: flex;
}
.EVORICH-partnership-row-border .bg-fons {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
  border-radius: 50%;
}
.EVORICH-partnership-row-border .bg-fons::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(29.5deg, #BE1240 11.49%, #801A9A 74.01%, #3E22F8 133.38%);
}
.EVORICH-partnership-row-border .bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.EVORICH-partnership-row-border .text {
  width: 50%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
}
.EVORICH-partnership-row-border .text .block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.EVORICH-partnership-row-border .text .block:nth-child(1) {
  margin-left: 50px;
}
.EVORICH-partnership-row-border .text .block:nth-child(2) {
  margin-left: 5px;
}
.EVORICH-partnership-row-border .text .block:nth-child(3) {
  margin-left: -20px;
}
.EVORICH-partnership-row-border .text .block:nth-child(4) {
  margin-left: -22px;
}
.EVORICH-partnership-row-border .text .block:nth-child(5) {
  margin-left: -5px;
}
.EVORICH-partnership-row-border .text .block:nth-child(6) {
  margin-left: 34px;
}
.EVORICH-partnership-row-border .text .block:nth-child(7) {
  margin-left: 55px;
  margin-bottom: 0;
}
.EVORICH-partnership-row-border .text .block .img {
  background: #4904FB;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
}
.EVORICH-partnership-row-border .text .block .img img {
  margin-right: 0;
}
.EVORICH-partnership-row-border .text .block img {
  margin-right: 20px;
}
.EVORICH-partnership-row-border .text .block span {
  width: 100%;
  max-width: 60%;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: block;
  color: #FFFFFF;
}

.form-message {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}
.form-message .left {
  width: 100%;
  max-width: 1070px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 80px 108px;
  padding-left: 20px;
  border: 0.833333px solid rgba(62, 34, 248, 0.2);
}
.form-message .left form {
  width: 100%;
  max-width: 510px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.form-message .left form input {
  width: 50%;
  max-width: 212px;
  min-height: 46px;
  padding: 10px 20px;
  background: #FAFAFA;
  font-weight: 500;
  font-size: 16.6667px;
  line-height: 150%;
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
  border-bottom: 0.833333px solid #C5C5C5;
}
.form-message .left form input:focus {
  border-bottom: 0.833333px solid #8A8EFA;
}
.form-message .left form input:focus::placeholder {
  color: #000;
}
.form-message .left form input::placeholder {
  font-weight: 300;
  font-size: 16.6667px;
  line-height: 150%;
  color: #C5C5C5;
}
.form-message .left form input.w70 {
  width: 100%;
  max-width: 291px;
}
.form-message .left form .btn {
  max-width: 134px;
  min-width: 134px;
  border: none;
  min-height: 46px;
  background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  -webkit-backdrop-filter: blur(5.33333px);
          backdrop-filter: blur(5.33333px);
  font-weight: 200;
  font-size: 12.5px;
  line-height: 15px;
}
.form-message .right {
  margin-left: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-message .right img {
  margin-bottom: 30px;
}
.form-message .right span {
  width: 100%;
  display: block;
  max-width: 300px;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 150%;
}

.section-history-partners {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-history-partners .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-history-partners .container .title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
}
.section-history-partners .container .subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 13px;
  line-height: 180%;
  color: #000000;
  display: flex;
}
.section-history-partners .container .subtitle p {
  margin: 0 5px;
  color: blue;
}
.section-history-partners .container .slides {
  width: 100%;
  margin-bottom: 45px;
}
.section-history-partners .container .slides .swiper-container {
  width: 100% !important;
  max-width: 100% !important;
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper {
  width: 100%;
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide {
  transition: 0.3s;
  transform: scale(0.7);
  filter: blur(5px);
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
  position: relative;
  z-index: 10;
  transform: scale(1);
  filter: blur(0px);
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-next {
  position: relative;
  z-index: 5;
  transform: scale(0.85) scaleX(0.7);
  filter: blur(2.5px);
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-prev {
  position: relative;
  z-index: 5;
  transform: scale(0.85) scaleX(0.7);
  filter: blur(2.5px);
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box {
  max-width: 546px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box:hover .btn-mod {
  opacity: 1;
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box-img {
  min-width: 546px;
  max-width: 546px;
  max-height: 333px;
  min-height: 333px;
  object-fit: cover;
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box .btn-mod {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 12px 30px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5.33333px);
          backdrop-filter: blur(5.33333px);
  border: 1px solid;
  border-image: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  border-image-slice: 1;
  opacity: 0;
  overflow: hidden;
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box .btn-mod::before {
  content: "";
  width: 40px;
  height: 500px;
  position: absolute;
  left: -300px;
  top: -200px;
  background: #fff;
  opacity: 0.2;
  transform: rotate(25deg);
  animation: btn 2s ease-in-out infinite;
}
.section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box .btn-mod img {
  width: 20px;
  margin-left: 15px;
  object-fit: cover;
}

.footer {
  width: 100%;
  min-height: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(94.62deg, #931B6D -19.91%, #801A9A 51.5%, #3E22F8 119.3%);
  padding: 60px;
  color: #fff;
  overflow: hidden;
}
.footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .box {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  position: relative;
}
.footer .container .box::before {
  content: "";
  width: 1px;
  height: 100%;
  min-height: 211px;
  position: absolute;
  right: -30px;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}
.footer .container .box.box-start {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
}
.footer .container .box.box-center {
  flex-basis: 35%;
}
.footer .container .box.box-center::before {
  right: -70px;
}
.footer .container .box:last-child {
  width: 5%;
  align-items: flex-end;
}
.footer .container .box:last-child::before {
  background: none;
}
.footer .container .box .logo {
  margin-bottom: 28px;
}
.footer .container .box .logo img {
  width: 125px;
}
.footer .container .box span {
  margin-bottom: 15px;
  font-weight: 200;
  font-size: 15px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer .container .box p {
  margin-bottom: 15px;
  font-weight: 200;
  font-size: 10.625px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer .container .box .p-mod {
  font-size: 12.5px;
}
.footer .container .box ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer .container .box ul li {
  width: 50%;
  margin-bottom: 46px;
}
.footer .container .box ul li:nth-child(5) {
  margin-bottom: 0;
}
.footer .container .box ul li:last-child {
  margin-bottom: 0;
}
.footer .container .box ul li a {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16.6667px;
  line-height: 20px;
}
.footer .container .box .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .container .box .social a {
  margin-bottom: 47px;
}
.footer .container .box .social a:last-child {
  margin-bottom: 0;
}
.footer .container .box .social a img {
  width: 22px;
}

.modal-menu-drop-header {
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 83px;
  padding: 40px 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-menu-drop-header.active {
  display: flex;
}
.modal-menu-drop-header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-menu-drop-header .container .our-projects-body {
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  align-items: stretch;
}
.modal-menu-drop-header .container .our-projects-body::before {
  display: none;
}
.modal-menu-drop-header .container .our-projects-body::after {
  display: none;
}
.modal-menu-drop-header .container .our-projects-body .block {
  width: 33.33333%;
  margin-bottom: 0;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 30px 0;
  margin: -3px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
}
.modal-menu-drop-header .container .our-projects-body .block:nth-child(1) {
  width: 30%;
  padding-top: 0;
  justify-content: flex-start;
}
.modal-menu-drop-header .container .our-projects-body .block:nth-child(2) {
  width: 40%;
  padding-left: 100px;
  padding-top: 0;
  justify-content: flex-start;
}
.modal-menu-drop-header .container .our-projects-body .block:nth-child(3) {
  width: 28%;
  padding-left: 80px;
  border-right: 0;
  padding-top: 0;
  justify-content: flex-start;
}
.modal-menu-drop-header .container .our-projects-body .block:nth-child(4) {
  width: 30%;
  border-bottom: 0;
}
.modal-menu-drop-header .container .our-projects-body .block:nth-child(5) {
  border-bottom: 0;
  width: 40%;
  padding-left: 100px;
}
.modal-menu-drop-header .container .our-projects-body .block:nth-child(6) {
  width: 28%;
  border-right: 0;
  padding-left: 80px;
  border-bottom: 0;
}
.modal-menu-drop-header .container .our-projects-body .block .block-span {
  width: 100%;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 50px;
  }
  .header .container .menu ul li .menu-open {
    padding: 0 20px;
  }

  .section-what-get .container .content-right .right {
    padding-right: 30px;
  }

  .EVORICH-numbers {
    padding: 0;
  }

  .form-message .left {
    min-width: 60%;
    padding-left: 20px;
  }

  .footer .container .box.box-start {
    padding-left: 0;
  }

  .modal-menu-drop-header .container {
    max-width: 1050px;
  }
}
@media (max-width: 980px) {
  .modal-menu-drop-header {
    display: none;
  }

  #hidden-content-menu {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  #hidden-content-menu .fancybox-close-small {
    left: 10px;
    top: 10px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hidden-content-menu .fancybox-close-small::before {
    content: "✖";
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 30px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
  }
  #hidden-content-menu .fancybox-close-small svg {
    display: none;
  }
  #hidden-content-menu .top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  #hidden-content-menu .top .btn {
    min-width: 170px !important;
    max-width: 170px !important;
    font-size: 8px;
    padding: 12px;
    order: -1;
  }
  #hidden-content-menu .top .btn img {
    width: 15px;
    margin-left: 10px;
  }
  #hidden-content-menu .menu {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #hidden-content-menu .menu .menu-item-a {
    width: 100%;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0;
    padding: 25px 0;
    color: #000000;
    border-bottom: 1px solid #EEEEEE;
  }
  #hidden-content-menu .menu .menu-item-a:last-child {
    border: none;
  }
  #hidden-content-menu .menu .menu-drop-mobile {
    width: 100%;
  }
  #hidden-content-menu .menu .menu-drop-mobile.active span {
    color: #3E22F8;
    border-bottom: unset;
  }
  #hidden-content-menu .menu .menu-drop-mobile.active span img {
    transform: rotate(180deg);
  }
  #hidden-content-menu .menu .menu-drop-mobile.active .menu-drop-mobile-visible {
    display: block;
  }
  #hidden-content-menu .menu .menu-drop-mobile span {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    padding: 25px 0;
    color: #000000;
    border-bottom: 1px solid #EEEEEE;
  }
  #hidden-content-menu .menu .menu-drop-mobile span img {
    margin-left: 10px;
  }
  #hidden-content-menu .menu .menu-drop-mobile .menu-drop-mobile-visible {
    width: 100%;
    display: none;
  }
  #hidden-content-menu .menu .menu-drop-mobile .menu-drop-mobile-visible .our-projects-body {
    flex-wrap: unset;
    flex-direction: column;
  }
  #hidden-content-menu .menu .menu-drop-mobile .menu-drop-mobile-visible .our-projects-body::before {
    display: none;
  }
  #hidden-content-menu .menu .menu-drop-mobile .menu-drop-mobile-visible .our-projects-body::after {
    display: none;
  }
  #hidden-content-menu .lang {
    width: 100%;
    max-width: 50px;
    position: relative;
    margin-top: 11px;
  }
  #hidden-content-menu .lang-start {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.33333px solid #EEEEEE;
    border-radius: 2.66667px;
    padding: 6px;
  }
  #hidden-content-menu .lang-start img {
    margin: 0 3px;
    width: 20px;
  }
  #hidden-content-menu .lang-start .drop-img {
    width: 8px;
    margin-bottom: -2px;
  }
  #hidden-content-menu .lang-drop {
    position: absolute;
    z-index: 41;
    width: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
    max-height: 100px;
    overflow: auto;
    padding: 10px 0;
    padding-left: 15px;
  }
  #hidden-content-menu .lang-drop.active {
    opacity: 1;
    pointer-events: visible;
  }
  #hidden-content-menu .lang-drop a {
    margin: 3px 0;
  }
  #hidden-content-menu .lang-drop a img {
    width: 20px;
  }
  #hidden-content-menu .lang ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
  }
  #hidden-content-menu .lang ::-webkit-scrollbar-track {
    background-color: #E4E4E4;
  }
  #hidden-content-menu .lang ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  }
  #hidden-content-menu .lang ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  }
  #hidden-content-menu .lang ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
  }
  #hidden-content-menu .lang ::-webkit-scrollbar {
    width: 4px;
  }

  .container {
    padding: 40px 30px !important;
  }
  .container.container_mod::before {
    min-height: 600px;
  }
  .container.container_mod::after {
    min-height: 600px;
  }

  .btn-border {
    min-width: 120px;
    min-height: 35px;
    font-size: 10px;
    line-height: 12px;
    padding: 12px 30px;
  }

  .header {
    padding: 5px 15px;
    min-height: 54px;
    background: #fff;
  }
  .header.active {
    margin-top: 0;
    background: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .header .container {
    padding: 0px !important;
  }
  .header .container .logo {
    display: none;
  }
  .header .container .menu {
    display: none;
  }
  .header .container .menu-open {
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    order: -1;
  }
  .header .container .menu-open span {
    width: 100%;
    height: 4px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    -webkit-backdrop-filter: blur(1.49271px);
            backdrop-filter: blur(1.49271px);
  }
  .header .container .menu-open span:nth-child(2) {
    width: 75%;
  }
  .header .container .menu-open span:nth-child(3) {
    width: 50%;
  }
  .header .container .lang {
    display: none;
  }
  .header .container .lang-start {
    padding: 7px 5px;
  }
  .header .container .btn {
    font-size: 8px;
    padding: 12px;
    order: -1;
  }
  .header .container .btn img {
    width: 15px;
    margin-left: 10px;
  }

  .section {
    justify-content: space-between;
    min-height: 300px;
    overflow: hidden;
  }
  .section .container {
    text-align: center;
    margin-top: 0;
    min-height: 100%;
    padding: 0 !important;
    padding-top: 150px !important;
  }
  .section .container .title {
    font-size: 25px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .section .container .boxs-row {
    display: none;
  }
  .section .container .boxs-row-m {
    width: 100%;
    display: flex;
  }
  .section .container .boxs-row-m .swiper-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box {
    min-width: 155px !important;
    max-width: 100% !important;
    min-height: 100px;
    max-height: 100px !important;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box img {
    width: 40px;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box span {
    width: 70%;
    font-size: 8.7163px;
    line-height: 12px;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box .line {
    background: url("../img/icon/line-m.png") left bottom no-repeat;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box::after {
    display: none;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box.box-l2 {
    min-height: 100px;
    max-height: 100px !important;
    position: relative;
    z-index: 1;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box.box-l3 {
    min-height: 100px;
    max-height: 100px !important;
    position: relative;
    z-index: 1;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box.box-l4 {
    min-height: 100px;
    max-height: 100px !important;
    position: relative;
    z-index: 1;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box .border {
    margin-bottom: -5px;
    border: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(1):hover ~ :nth-child(2) .border {
    border-left: 10px solid #551B9D;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(2):hover ~ :nth-child(3) .border {
    border-left: 10px solid #551B9D;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(3):hover ~ :nth-child(4) .border {
    border-left: 10px solid #551B9D;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(3) span {
    margin-top: unset;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(3) .border {
    margin-top: unset;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(4) .border {
    margin-top: unset;
  }

  .section-what-get {
    padding: 0;
    overflow: hidden;
  }
  .section-what-get .container {
    flex-direction: column;
  }
  .section-what-get .container .left {
    padding: 0;
    position: relative;
  }
  .section-what-get .container .left::before {
    content: "";
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: -1;
    background: url("../img/index/eath-m.png") center right no-repeat;
  }
  .section-what-get .container .left span {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .section-what-get .container .left a {
    font-size: 13px;
    line-height: 16px;
  }
  .section-what-get .container .left a:first-child {
    margin-top: 0;
  }
  .section-what-get .container .content-right {
    margin-top: 60px;
    align-items: flex-start;
  }
  .section-what-get .container .content-right .right {
    min-width: 100%;
  }
  .section-what-get .container .content-right .right-img {
    display: none;
  }
  .section-what-get .container .content-right .right .text p {
    margin-bottom: 30px;
  }
  .section-what-get .container .content-right .btn {
    left: 0;
    bottom: 0;
  }

  .our-projects .container {
    padding: 0 !important;
  }

  .our-projects-title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 0 30px;
  }
  .our-projects-title span {
    margin-bottom: 30px;
  }
  .our-projects-title .block {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .our-projects-title .block img {
    margin-bottom: 20px;
  }

  .our-projects-body {
    align-items: flex-start;
    padding: 30px;
  }
  .our-projects-body .block {
    width: 50%;
    margin-right: 0;
    min-height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .our-projects-body .block:nth-child(4) {
    margin-top: -15px;
  }
  .our-projects-body .block:nth-child(4) .block-icon {
    position: relative;
    bottom: -15px;
  }
  .our-projects-body .block-span {
    width: 100%;
  }

  .EVORICH-numbers {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .EVORICH-numbers-title {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .EVORICH-numbers-row {
    flex-direction: column;
  }

  .EVORICH-numbers-img {
    min-height: 100%;
  }

  .EVORICH-numbers-text {
    min-height: 100%;
    width: 100%;
    padding: 46px 0;
  }
  .EVORICH-numbers-text .block {
    margin-bottom: 47px;
  }
  .EVORICH-numbers-text .block span {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 31px;
  }
  .EVORICH-numbers-text .block p {
    font-size: 13px;
    line-height: 150%;
  }

  .EVORICH-partnership {
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }

  .EVORICH-partnership-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .EVORICH-partnership-row-text {
    width: 100%;
    padding-left: 0;
  }
  .EVORICH-partnership-row-text span {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .EVORICH-partnership-row-text p {
    font-size: 13px;
    line-height: 180%;
    margin-bottom: 30px;
  }
  .EVORICH-partnership-row-text .tabs-part a {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 16px;
  }

  .EVORICH-partnership-row-border {
    min-width: 671px;
    min-height: 671px;
    position: relative;
    right: -10px;
  }
  .EVORICH-partnership-row-border .text .block:first-child span {
    max-width: 40%;
  }
  .EVORICH-partnership-row-border .text .block span {
    font-size: 12px;
    max-width: 50%;
  }

  .form-message {
    width: 100%;
    padding: 0 30px;
    flex-direction: column;
    position: relative;
  }
  .form-message::before {
    content: "";
    width: 65%;
    min-height: 900px;
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -1;
    opacity: 0.5;
    border-left: 0.833333px solid #F5F5F5;
    border-right: 0.833333px solid #F5F5F5;
  }
  .form-message::after {
    content: "";
    width: 65%;
    height: 100%;
    min-height: 900px;
    position: absolute;
    right: 0;
    top: 0%;
    z-index: -1;
    opacity: 0.5;
    border-left: 0.833333px solid #F5F5F5;
    border-right: 0.833333px solid #F5F5F5;
  }
  .form-message .left {
    border: none;
    padding: 40px 0;
  }
  .form-message .left form {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
  }
  .form-message .left form input {
    max-width: 48%;
    min-height: 30px;
    margin-right: 0;
    width: 48%;
    margin-bottom: 12px;
    font-size: 9.92449px;
    line-height: 150%;
    padding: 6px 12px;
  }
  .form-message .left form input::placeholder {
    font-size: 9.92449px;
    line-height: 150%;
  }
  .form-message .left form input.w70 {
    max-width: 60%;
  }
  .form-message .left form .btn {
    max-width: 35%;
    min-height: 30px;
    min-width: 35%;
    font-size: 9.92449px;
    line-height: 150%;
  }
  .form-message .right {
    order: -1;
    margin: 0;
  }

  .section-history-partners {
    min-height: 100%;
    padding-bottom: 30px;
  }
  .section-history-partners .container .title {
    font-size: 15.425px;
    line-height: 18px;
    margin-bottom: 7px;
  }
  .section-history-partners .container .subtitle {
    font-size: 10.71251px;
    line-height: 180%;
    margin-bottom: 15px;
  }
  .section-history-partners .container .slides {
    margin-bottom: 20px;
  }
  .section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box-img {
    min-width: 185px;
    max-width: 185px;
    max-height: 115px;
    min-height: 115px;
  }
  .section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box .btn-mod {
    font-size: 10px;
    line-height: 14px;
    padding: 7px 12px;
    margin-bottom: -50px;
    min-width: 130px;
  }
  .section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box .btn-mod img {
    width: 10px;
    margin-left: 5px;
  }
  .section-history-partners .container .btn-border {
    margin-top: 30px;
  }

  .footer {
    width: 100%;
    min-height: 100%;
    padding: 0px;
    justify-content: center;
  }
  .footer .container {
    width: 100%;
    justify-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 15px !important;
  }
  .footer .container .box {
    width: 100% !important;
    padding: 0;
    border: unset;
    border-bottom: 1.33333px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    min-height: 100% !important;
    margin: 0;
    padding-top: 0;
    padding: 15px 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer .container .box::before {
    display: none;
  }
  .footer .container .box:last-child {
    border: unset;
    padding-left: 0;
    justify-content: center;
    align-items: center;
  }
  .footer .container .box.box-start {
    padding: 0px;
  }
  .footer .container .box .logo {
    margin-bottom: 20px;
  }
  .footer .container .box .logo img {
    width: 100px;
  }
  .footer .container .box span {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 12px;
  }
  .footer .container .box p {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 10px;
  }
  .footer .container .box .p-mod {
    font-size: 14px;
  }
  .footer .container .box ul li {
    margin-bottom: 15px;
  }
  .footer .container .box ul li a {
    font-size: 12.7022px;
    line-height: 16px;
  }
  .footer .container .box .social {
    flex-direction: row;
  }
  .footer .container .box .social a {
    margin-bottom: 0;
    margin: 0 10px;
  }
  .footer .container .box .social a img {
    width: 23px;
  }
}
@media (max-width: 480px) {
  #hidden-content-menu {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  #hidden-content-menu .fancybox-close-small {
    left: 10px;
    top: 10px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hidden-content-menu .fancybox-close-small::before {
    content: "✖";
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 30px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
  }
  #hidden-content-menu .fancybox-close-small svg {
    display: none;
  }
  #hidden-content-menu .top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  #hidden-content-menu .top .btn {
    min-width: 170px !important;
    max-width: 170px !important;
    font-size: 8px;
    padding: 12px;
    order: -1;
  }
  #hidden-content-menu .top .btn img {
    width: 15px;
    margin-left: 10px;
  }
  #hidden-content-menu .menu {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #hidden-content-menu .menu .menu-item-a {
    width: 100%;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0;
    padding: 25px 0;
    color: #000000;
    border-bottom: 1px solid #EEEEEE;
  }
  #hidden-content-menu .menu .menu-item-a:last-child {
    border: none;
  }
  #hidden-content-menu .menu .menu-drop-mobile {
    width: 100%;
  }
  #hidden-content-menu .menu .menu-drop-mobile.active span {
    color: #3E22F8;
    border-bottom: unset;
  }
  #hidden-content-menu .menu .menu-drop-mobile.active span img {
    transform: rotate(180deg);
  }
  #hidden-content-menu .menu .menu-drop-mobile.active .menu-drop-mobile-visible {
    display: block;
  }
  #hidden-content-menu .menu .menu-drop-mobile span {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    padding: 25px 0;
    color: #000000;
    border-bottom: 1px solid #EEEEEE;
  }
  #hidden-content-menu .menu .menu-drop-mobile span img {
    margin-left: 10px;
  }
  #hidden-content-menu .menu .menu-drop-mobile .menu-drop-mobile-visible {
    width: 100%;
    display: none;
  }
  #hidden-content-menu .menu .menu-drop-mobile .menu-drop-mobile-visible .our-projects-body {
    flex-wrap: unset;
    flex-direction: column;
  }
  #hidden-content-menu .menu .menu-drop-mobile .menu-drop-mobile-visible .our-projects-body::before {
    display: none;
  }
  #hidden-content-menu .menu .menu-drop-mobile .menu-drop-mobile-visible .our-projects-body::after {
    display: none;
  }
  #hidden-content-menu .lang {
    width: 100%;
    max-width: 50px;
    position: relative;
    margin-top: 11px;
  }
  #hidden-content-menu .lang-start {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.33333px solid #EEEEEE;
    border-radius: 2.66667px;
    padding: 6px;
  }
  #hidden-content-menu .lang-start img {
    margin: 0 3px;
    width: 20px;
  }
  #hidden-content-menu .lang-start .drop-img {
    width: 8px;
    margin-bottom: -2px;
  }
  #hidden-content-menu .lang-drop {
    position: absolute;
    z-index: 41;
    width: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
    max-height: 100px;
    overflow: auto;
    padding: 10px 0;
    padding-left: 15px;
  }
  #hidden-content-menu .lang-drop.active {
    opacity: 1;
    pointer-events: visible;
  }
  #hidden-content-menu .lang-drop a {
    margin: 3px 0;
  }
  #hidden-content-menu .lang-drop a img {
    width: 20px;
  }
  #hidden-content-menu .lang ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
  }
  #hidden-content-menu .lang ::-webkit-scrollbar-track {
    background-color: #E4E4E4;
  }
  #hidden-content-menu .lang ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  }
  #hidden-content-menu .lang ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  }
  #hidden-content-menu .lang ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
  }
  #hidden-content-menu .lang ::-webkit-scrollbar {
    width: 4px;
  }

  .container {
    padding: 40px 30px !important;
  }
  .container.container_mod::before {
    min-height: 600px;
  }
  .container.container_mod::after {
    min-height: 600px;
  }

  .btn-border {
    min-width: 120px;
    min-height: 35px;
    font-size: 10px;
    line-height: 12px;
    padding: 12px 30px;
  }

  .header {
    padding: 5px 25px;
    min-height: 54px;
    background: #fff;
  }
  .header.active {
    margin-top: 0;
    background: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .header .container {
    padding: 0px !important;
  }
  .header .container .logo {
    display: none;
  }
  .header .container .menu {
    display: none;
  }
  .header .container .menu-open {
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    order: -1;
  }
  .header .container .menu-open span {
    width: 100%;
    height: 4px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    -webkit-backdrop-filter: blur(1.49271px);
            backdrop-filter: blur(1.49271px);
  }
  .header .container .menu-open span:nth-child(2) {
    width: 75%;
  }
  .header .container .menu-open span:nth-child(3) {
    width: 50%;
  }
  .header .container .lang {
    display: none;
  }
  .header .container .lang-start {
    padding: 7px 5px;
  }
  .header .container .btn {
    font-size: 8px;
    padding: 12px;
    order: -1;
  }
  .header .container .btn img {
    width: 15px;
    margin-left: 10px;
  }

  .section {
    justify-content: space-between;
    min-height: 300px;
    overflow: hidden;
  }
  .section .container {
    text-align: center;
    margin-top: 0;
    min-height: 100%;
    padding: 0 !important;
    padding-top: 150px !important;
  }
  .section .container .title {
    font-size: 25px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .section .container .boxs-row {
    display: none;
  }
  .section .container .boxs-row-m {
    width: 100%;
    display: flex;
  }
  .section .container .boxs-row-m .swiper-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box {
    min-width: 155px !important;
    max-width: 100% !important;
    min-height: 100px;
    max-height: 100px !important;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box img {
    width: 40px;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box span {
    width: 70%;
    font-size: 8.7163px;
    line-height: 12px;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box .line {
    background: url("../img/icon/line-m.png") left bottom no-repeat;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box::after {
    display: none;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box.box-l2 {
    min-height: 100px;
    max-height: 100px !important;
    position: relative;
    z-index: 1;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box.box-l3 {
    min-height: 100px;
    max-height: 100px !important;
    position: relative;
    z-index: 1;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box.box-l4 {
    min-height: 100px;
    max-height: 100px !important;
    position: relative;
    z-index: 1;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box .border {
    margin-bottom: -5px;
    border: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(1):hover ~ :nth-child(2) .border {
    border-left: 10px solid #551B9D;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(2):hover ~ :nth-child(3) .border {
    border-left: 10px solid #551B9D;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(3):hover ~ :nth-child(4) .border {
    border-left: 10px solid #551B9D;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(3) span {
    margin-top: unset;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(3) .border {
    margin-top: unset;
  }
  .section .container .boxs-row-m .swiper-container-2 .swiper-wrapper .swiper-slide .box:nth-child(4) .border {
    margin-top: unset;
  }

  .section-what-get {
    padding: 0;
    overflow: hidden;
  }
  .section-what-get .container {
    flex-direction: column;
  }
  .section-what-get .container .left {
    padding: 0;
    position: relative;
  }
  .section-what-get .container .left::before {
    content: "";
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: -1;
    background: url("../img/index/eath-m.png") center right no-repeat;
  }
  .section-what-get .container .left span {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .section-what-get .container .left a {
    font-size: 13px;
    line-height: 16px;
  }
  .section-what-get .container .left a:first-child {
    margin-top: 0;
  }
  .section-what-get .container .content-right {
    margin-top: 60px;
    align-items: flex-start;
  }
  .section-what-get .container .content-right .right {
    min-width: 100%;
  }
  .section-what-get .container .content-right .right-img {
    display: none;
  }
  .section-what-get .container .content-right .right .text p {
    margin-bottom: 30px;
  }
  .section-what-get .container .content-right .btn {
    left: 0;
    bottom: 0;
  }

  .our-projects .container {
    padding: 0 !important;
  }

  .our-projects-title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 0 30px;
  }
  .our-projects-title span {
    margin-bottom: 30px;
  }
  .our-projects-title .block {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .our-projects-title .block img {
    margin-bottom: 20px;
  }

  .our-projects-body {
    align-items: flex-start;
    padding: 30px;
  }
  .our-projects-body .block {
    width: 50%;
    margin-right: 0;
    min-height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .our-projects-body .block:nth-child(4) {
    margin-top: -15px;
  }
  .our-projects-body .block:nth-child(4) .block-icon {
    position: relative;
    bottom: -15px;
  }
  .our-projects-body .block-span {
    width: 100%;
  }

  .EVORICH-numbers {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .EVORICH-numbers-title {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .EVORICH-numbers-row {
    flex-direction: column;
  }

  .EVORICH-numbers-img {
    min-height: 100%;
  }

  .EVORICH-numbers-text {
    min-height: 100%;
    width: 100%;
    padding: 46px 0;
  }
  .EVORICH-numbers-text .block {
    margin-bottom: 47px;
  }
  .EVORICH-numbers-text .block span {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 31px;
  }
  .EVORICH-numbers-text .block p {
    font-size: 13px;
    line-height: 150%;
  }

  .EVORICH-partnership {
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }

  .EVORICH-partnership-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .EVORICH-partnership-row-text {
    width: 100%;
    padding-left: 0;
  }
  .EVORICH-partnership-row-text span {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .EVORICH-partnership-row-text p {
    font-size: 13px;
    line-height: 180%;
    margin-bottom: 30px;
  }
  .EVORICH-partnership-row-text .tabs-part a {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 16px;
  }

  .EVORICH-partnership-row-border {
    min-width: 671px;
    min-height: 671px;
    position: relative;
    right: -10px;
  }
  .EVORICH-partnership-row-border .text .block:first-child span {
    max-width: 40%;
  }
  .EVORICH-partnership-row-border .text .block span {
    font-size: 12px;
    max-width: 50%;
  }

  .form-message {
    width: 100%;
    padding: 0 30px;
    flex-direction: column;
    position: relative;
  }
  .form-message::before {
    content: "";
    width: 65%;
    min-height: 900px;
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -1;
    opacity: 0.5;
    border-left: 0.833333px solid #F5F5F5;
    border-right: 0.833333px solid #F5F5F5;
  }
  .form-message::after {
    content: "";
    width: 65%;
    height: 100%;
    min-height: 900px;
    position: absolute;
    right: 0;
    top: 0%;
    z-index: -1;
    opacity: 0.5;
    border-left: 0.833333px solid #F5F5F5;
    border-right: 0.833333px solid #F5F5F5;
  }
  .form-message .left {
    border: none;
    padding: 40px 0;
  }
  .form-message .left form {
    width: 100%;
    justify-content: space-between;
  }
  .form-message .left form input {
    max-width: 48%;
    min-height: 30px;
    margin-right: 0;
    width: 48%;
    margin-bottom: 12px;
    font-size: 9.92449px;
    line-height: 150%;
    padding: 6px 12px;
  }
  .form-message .left form input::placeholder {
    font-size: 9.92449px;
    line-height: 150%;
  }
  .form-message .left form input.w70 {
    max-width: 60%;
  }
  .form-message .left form .btn {
    max-width: 35%;
    min-height: 30px;
    min-width: 35%;
    font-size: 9.92449px;
    line-height: 150%;
  }
  .form-message .right {
    order: -1;
    margin: 0;
  }

  .section-history-partners {
    min-height: 100%;
    padding-bottom: 30px;
  }
  .section-history-partners .container .title {
    font-size: 15.425px;
    line-height: 18px;
    margin-bottom: 7px;
  }
  .section-history-partners .container .subtitle {
    font-size: 10.71251px;
    line-height: 180%;
    margin-bottom: 15px;
  }
  .section-history-partners .container .slides {
    margin-bottom: 20px;
  }
  .section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box-img {
    min-width: 185px;
    max-width: 185px;
    max-height: 115px;
    min-height: 115px;
  }
  .section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box .btn-mod {
    font-size: 10px;
    line-height: 14px;
    padding: 7px 12px;
    margin-bottom: -50px;
    min-width: 130px;
  }
  .section-history-partners .container .slides .swiper-container .swiper-wrapper .swiper-slide .box .btn-mod img {
    width: 10px;
    margin-left: 5px;
  }
  .section-history-partners .container .btn-border {
    margin-top: 30px;
  }

  .footer {
    width: 100%;
    min-height: 100%;
    padding: 0px;
    justify-content: center;
  }
  .footer .container {
    width: 100%;
    justify-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 15px !important;
  }
  .footer .container .box {
    width: 100% !important;
    padding: 0;
    border: unset;
    border-bottom: 1.33333px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    min-height: 100% !important;
    margin: 0;
    padding-top: 0;
    padding: 15px 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer .container .box::before {
    display: none;
  }
  .footer .container .box:last-child {
    border: unset;
    padding-left: 0;
    justify-content: center;
    align-items: center;
  }
  .footer .container .box.box-start {
    padding: 0px;
  }
  .footer .container .box .logo {
    margin-bottom: 20px;
  }
  .footer .container .box .logo img {
    width: 100px;
  }
  .footer .container .box span {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 12px;
  }
  .footer .container .box p {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 10px;
  }
  .footer .container .box .p-mod {
    font-size: 14px;
  }
  .footer .container .box ul li {
    margin-bottom: 15px;
  }
  .footer .container .box ul li a {
    font-size: 12.7022px;
    line-height: 16px;
  }
  .footer .container .box .social {
    flex-direction: row;
  }
  .footer .container .box .social a {
    margin-bottom: 0;
    margin: 0 10px;
  }
  .footer .container .box .social a img {
    width: 23px;
  }
}