

$black: #000;
$while: #fff;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'TT Interfaces';
    transition: 0.3s;
    list-style: none;
    outline: none;
}

a {
    color: #000;
    text-decoration: none;
}





//* История блоков ----------------------------------------------------
/*
- Контейнер - 1
- Кнопки - 2
- шапка - 3
- Главный экран - index - 4
- Что вы получите с EVORICH? - index - 5
- Наши проекты - index - 6 
- Экосистема EVORICH в цифрах - index - 7 
- Что дает партнерство с EVORICH? - index - 8 
- форма отправки - index - 9 
- история партнеров ( слайдер ) - index - 10
- футер - 11
*/
//* /// ---------------------------------------------------------------





// Контейнер ( 1 ) ----------------------------------------------------

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &.container_mod {
        position: relative;
        height: 100%;
    
        &::before {
            content: "";
            width: 65%;
        
            min-height: 900px;
            position: absolute;
            left: 0;
            top: 0%;
            z-index: -1;
            opacity: 0.5;
            border-left: 0.833333px solid #F5F5F5;
            border-right: 0.833333px solid #F5F5F5;
        }
        &::after {
            content: "";
            width: 65%;
            height: 100%;
            min-height: 900px;
            position: absolute;
            right: 0;
            top: 0%;
            z-index: -1;
            opacity: 0.5;
        
            border-left: 0.833333px solid #F5F5F5;
            border-right: 0.833333px solid #F5F5F5;
        }
    }

}

// Кнопки ( 2 ) ----------------------------------------------------

.btn {
    min-width: 170px;
    padding: 12px;
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    backdrop-filter: blur(5.33333px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &.btn--black {
        background: #000;
    }
    &.btn--blue{
        background: #3E22F8;
    }
    &:hover {
        background: linear-gradient(-94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
        box-shadow: 0 0 20px rgba(62, 34, 248,.3);
        
    }
    img {
        margin-left: 15px;
        width: 17px;
    }

}
.btn-border {
    min-width: 160px;
    padding: 15px 40px;
    border: 1.33333px solid #C5C5C5;
    backdrop-filter: blur(5.33333px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 12.5px;
    line-height: 15px;
    color: #5F5F5F;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;

    &:hover {
        box-shadow: 0 0 20px rgba(197, 197, 197,.5);
    }
    img {
        margin-left: 15px;
    }

}
.btn-border-gradient{
    min-width: 154px;
    padding: 16px 18px;
    border: 1px solid;
    border-image: linear-gradient(-94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    border-image-slice: 1;
    backdrop-filter: blur(5.33333px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 13.3333px;
    line-height: 16px;
    cursor: pointer;
    
    color: #5F5F5F;
    position: relative;
    overflow: hidden;

    &:hover {
        box-shadow: 0 0 20px rgba(128, 26, 154,.2);
    }
    img {
        margin-left: 15px;
        filter: invert(1);
        transform: scale(.7);
    }

}
.btn-wile {
    min-width: 214px;
    max-width: 270px;
    padding: 23px 18px;
  
    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
 
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    position: relative;
    overflow: hidden;

    &:hover {
        box-shadow: 0 0 20px rgba(197, 197, 197,.5);
    }
    .txt-bg {
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    img {
        margin-left: 15px;
    }

}
.btn-black {
    min-width: 214px;
    padding: 18px 18px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(26.6667px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: normal;
    font-size: 13.3333px;
    line-height: 16px;
    border: 1px solid;
    border-image: linear-gradient(-94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
    border-image-slice: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;


    &.btn-fix {
        position: absolute;
        right: 46px;
        top: 90%;
        z-index: 50;
    }
    &:hover {
        background: linear-gradient(-94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
        box-shadow: 0 0 20px rgba(62, 34, 248,.2);
    }
    img {
        margin-left: 15px;
    }

}

// Шапка ( 3 ) ----------------------------------------------------

.header {
    width: 100%;
    min-height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 40;
    background: $while;
    border-bottom: 1px solid #EEEEEE;
   
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        .menu-open {
            display: none;
        }
        .logo {
            margin-bottom: -8px;
            img {
                width: 125px;
            }
        }
        .menu {
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: $black;
            ul {
                display: flex;
                align-items: center;
                li {
                    position: relative;
                    &:last-child {
                        border: unset;
                    }
                    &.active {
                        .menu-drop {
                            opacity: 1;
                            pointer-events: visible;
                        }
                        .men-a {
                            color: #3E22F8;
                            .img-rot {
                                transform: rotate(180deg);
                            }
                        }
                    }
                   
                    .men-a {
                        padding: 0 40px;
                        border-right: 1.33333px solid #EEEEEE;
                      
                        
                        &:hover {
                            color: #3E22F8;
                        }
                      
                        &.active {
                            color: #3E22F8;
                        }
                        img {
                            margin-left: 10px;
                        }
                     
                    }
                 
                    .menu-drop {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: #FFFFFF;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        padding: 15px 20px;
                        
                        width: 100%;
                        
                        opacity: 1;
                        pointer-events: visible;

                        flex-direction: column;
                        padding-bottom: 5px;
                        a {
                            width: 100%;
                            display: flex;
                            
                            align-items: center;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 16px;
                            padding: 11px 5px;
                            border-bottom: 1px solid #F5F5F5;
                            color: #000000;
                            min-height: 50px;
                            &:last-child {
                                margin-bottom: 0;
                                border: none;
                            }
                            img {
                                width: 30px;
                                margin-right: 24px;
                            }
                        }
                    }
                }
            }
           
        }
        .lang {
            position: relative;
            &-start {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1.33333px solid #EEEEEE;
                border-radius: 2.66667px;
                padding: 6px;
                & img {
                    margin: 0 3px;
                    width: 20px;
                }
                .drop-img {
                    width: 8px;
                    margin-bottom: -2px;
                }
            }
            &-drop {
                position: absolute;
                z-index: 41;
                width: 100%;
                display: flex;
                opacity: 0;
                pointer-events: none;
                justify-content: flex-start;
                align-items: flex-start;
         
                flex-direction: column;
                background: #fff;
                max-height: 100px;
                overflow: auto;
                padding: 10px 0;
                padding-left: 15px;
                &.active {
                    opacity: 1;
                    pointer-events: visible;
                }
                a {
                    margin: 3px 0;
                    img {
                        width: 20px;

                    }
                }
            }
            ::-webkit-scrollbar-button {
                background-image:url('');
                background-repeat:no-repeat;
                width:4px;
                height:0px
            }
                
            ::-webkit-scrollbar-track {
                background-color:#E4E4E4
            }
                
            ::-webkit-scrollbar-thumb {
                -webkit-border-radius: 0px;
                border-radius: 0px;
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);

            }
                
            ::-webkit-scrollbar-thumb:hover{
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);

            }
                
            ::-webkit-resizer{
                background-image:url('');
                background-repeat:no-repeat;
                width:4px;
                height:0px
            }
                
            ::-webkit-scrollbar{
                width: 4px;
            }
        }
    }
}

// Главный экран - index ( 4 ) ----------------------------------------------------

.section {
    width: 100%;
    min-height: 615px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #EEEEEE;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: url("../img/icon/Background-index.png") center no-repeat;
        background-size: cover;
    }
    &.section-create {
        min-height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: unset;
        &::before {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -5;
            background: url("../img/Background-create.jpg") center no-repeat;
            background-size: cover;
        }
        .container {
            display: flex;
            justify-content: center;
            flex-direction: unset;
            padding-top: 0;
        }
    }
    .container {
        min-height: 615px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 200px;
        .title {

            font-weight: 600;
            font-size: 50px;
            line-height: 62px;
            color: $while;


        }

        .boxs-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            overflow: hidden;
            pointer-events: none;
            .box {
                width: 100%;
                height: 100%;
                min-height: 220px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.6);
                backdrop-filter: blur(13.3333px);
                transition: 0.3s;
                position: relative;
                z-index: 1;
                pointer-events: visible;
                
                
                &:nth-child(3) span {
                    margin-top: 25px;
                }
                &:nth-child(3) img {
                    width: 60px;
                }

                &:hover .line {
                    opacity: 0;
                }
                & .line {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: -1px;
                    bottom: 0px;
                    background: url("../img/icon/line-2.png") left bottom no-repeat;
                    transition: 0.3s;
                   
                }
                &:hover::before {
                    opacity: 0;
                   
                }
              
                &:hover {
                    background: linear-gradient(89.15deg, rgba(190, 18, 64, 0.8) -190.35%, rgba(128, 26, 154, 0.8) 19.63%, rgba(62, 34, 248, 0.8) 219.01%);
                    backdrop-filter: blur(40px);
                    min-height: 240px;
                }

                &:hover::after {
                    opacity: 0;
              
                }
                &:nth-child(1):hover ~ :nth-child(2) .border{
                    border-left: 16px solid #551B9D;
                }
                &:nth-child(1):hover ~ :nth-child(2) .line{
                    opacity: 0;
                }
                
                &:nth-child(1):hover ~ :nth-child(2)::after{
                    opacity: 0;
                }
                
                &:nth-child(2):hover ~ :nth-child(3) .border{
                    border-left: 16px solid #551B9D;
                }
    
                &:nth-child(2):hover ~ :nth-child(3) .line{
                    opacity: 0;
                }
                &:nth-child(2):hover ~ :nth-child(3)::after{
                    opacity: 0;
                }
                
                &:nth-child(3):hover ~ :nth-child(4) .border{
                    border-left: 16px solid #551B9D;
                }
                &:nth-child(3):hover ~ :nth-child(4) .line{
                    opacity: 0;
                }
                &:nth-child(3):hover ~ :nth-child(4)::after{
                    opacity: 0;
                }
                img {
                    width: 80px;
                }
                
                span {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
    
                    color: #FFFFFF; 
                    display: block;
                    width: 65%;
                   
                  
                }
                .border {
                    border: 16px solid transparent; 
                    border-left: 15px solid  transparent;
                    position: absolute;
                    left: 0px;
                    margin-bottom: 0px;
                    z-index: 20;
    
                }
            }
        }
        .boxs-row-m {
            display: none;
            width: 100%;
          
            justify-content: space-between;
            align-items: flex-end;
            overflow: hidden;
            pointer-events: none;
            .box {
                width: 100%;
                height: 100%;
                min-height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.6);
                backdrop-filter: blur(13.3333px);
                transition: 0.3s;
                position: relative;
                z-index: 1;
                pointer-events: visible;
                
                
                &:nth-child(3) span {
                    margin-top: 30px;
                }
                &:nth-child(3) .border {
                    margin-top: -20px;
                }
                &:nth-child(4) .border {
                    margin-top: -50px;
                }
                &:hover .line {
                    opacity: 0;
                }
                & .line {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: -1px;
                    bottom: 0px;
                    background: url("../img/icon/line.png") left bottom no-repeat;
                    transition: 0.3s;
                   
                }
                &:hover::before {
                    opacity: 0;
                   
                }
              
                &:hover {
                    background: linear-gradient(89.15deg, rgba(190, 18, 64, 0.8) -190.35%, rgba(128, 26, 154, 0.8) 19.63%, rgba(62, 34, 248, 0.8) 219.01%);
                    backdrop-filter: blur(40px);
                    
                   
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 20%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-left: 1.33333px solid #484848;
                }
                &:hover::after {
                    opacity: 0;
              
                }
                &:nth-child(1):hover ~ :nth-child(2) .border{
                    border-left: 25px solid #5C22A4;
                }
                &:nth-child(1):hover ~ :nth-child(2) .line{
                    opacity: 0;
                }
                
                &:nth-child(1):hover ~ :nth-child(2)::after{
                    opacity: 0;
                }
                
                &:nth-child(2):hover ~ :nth-child(3) .border{
                    border-left: 25px solid #5C22A4;
                }
    
                &:nth-child(2):hover ~ :nth-child(3) .line{
                    opacity: 0;
                }
                &:nth-child(2):hover ~ :nth-child(3)::after{
                    opacity: 0;
                }
                
                &:nth-child(3):hover ~ :nth-child(4) .border{
                    border-left: 25px solid #5C22A4;
                }
                &:nth-child(3):hover ~ :nth-child(4) .line{
                    opacity: 0;
                }
                &:nth-child(3):hover ~ :nth-child(4)::after{
                    opacity: 0;
                }
                
                &.box-l2 {
                    min-height: 373px;
                    position: relative;
                    z-index: 1;
                   
                  
                }
                &.box-l3 {
                    min-height: 346px;
                    position: relative;
                    z-index: 1;
                }
                &.box-l4 {
                    min-height: 320px;
                    position: relative;
                    z-index: 1;
                    
                }
                span {
                    font-weight: normal;
                    font-size: 21.3333px;
                    line-height: 26px;
                    text-align: center;
    
                    color: #FFFFFF; 
                    display: block;
                    width: 55%;
                   
                  
                }
                .border {
                    border: 25px solid transparent; 
                    border-left: 25px solid  transparent;
                    position: absolute;
                    left: 0px;
                    margin-bottom: -30px;
                    z-index: 20;
    
                }
            }
        }
    }

}

// Что вы получите с EVORICH? - index ( 5 ) ----------------------------------------------------

.section-what-get {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left {
            width: 100%;
            max-width: 812px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 100px;
            
            span {
                font-weight: 500;
                font-size: 25px;
                line-height: 31px;
                color: #000000;
                display: block;
                margin-bottom: 32px;
            }
            a {
            
                position: relative;
                margin-top: 25px;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;

                color: #C5C5C5;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 25px;
                &:last-child {
                    &::before {
                        background: transparent;
                    }
                }
  
                &.active {
                    background-image: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                   
                    -webkit-text-fill-color: rgba(0,0,0,.6);
                   
                    &::after {
                        opacity: 1;
                    }
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    min-width: 133px;
                    max-width: 133px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
                    opacity: 0.5;
                }
                &::after {
                    content: "";
                    width: 16px;
                    height: 18px;
                    position: absolute;
                    right: -40px;
                    opacity: 0.5;
                    background: url("../img/icon/line-right.svg") center right no-repeat ;
                    background-size: contain;
                }
            }
        }
        .content-right {
            width: 100%;
          
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            .right {
                width: 100%;
                height: 100%;
                min-width: 640px;
                
                display: none;
                justify-content: flex-start;
                align-items: flex-start;
             
                
                overflow: hidden;
           
                &.activeTab {
                    display: flex;

                }
                &-img {
                    width: 323px;
                    margin-top: -25px;
                    margin-right: 20px;
                }
                .text {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    text-align: left;
                    flex-direction: column;
                

                    p {
                        width: 100%;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 170%;
                        margin-bottom: 60px;
                    }
                 

                }
          
            }
            .btn {
                min-width: 135px;
                padding: 15px;
                position: relative;
                left: 90px;
                bottom: 50px;
                img {
                    width: 7px;
                }
            }

        }
    }


}

// Наши проекты - index ( 6 ) ----------------------------------------------------

.our-projects {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        padding-right: 128px;
        padding-left: 100px;
    }
}
.our-projects-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    span {
        display: block;
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        text-transform: uppercase;

        
    }
    .block {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            margin-right: 21px;
        }
        p {
            width: 100%;
            max-width: 280px;
            font-weight: 300;
            font-size: 13px;
            line-height: 150%;
            
        }
    }
}
.our-projects-body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 1.5px;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(138, 142, 250, 1);
        
    }
    &::after {
        content: "";
        width: 1.5px;
        height: 50%;
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(rgba(138, 142, 250, 1) , transparent) ;
        
    }
    .block {
        width: 30%;
        margin-right: 30px;
        margin-bottom: 60px;
        &:hover .block-icon {
            img {
                filter: grayscale(0);
                opacity: 1;
                &:last-child {
                    transform: rotate(0);
                }
            }
        }
        &-title {
            display: flex;
            align-items: center;
            margin-bottom: 13px;
            img {
                margin-right: 13px;
            }
            p {
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                
            }
        }
        &-span {
            width: 60%;
            font-weight: normal;
            font-size: 10px;
            line-height: 150%;
            margin-bottom: 10px;
            color: #5F5F5F;
        }
        &-icon {
            img {
                margin-right: 7px;
                filter: grayscale(1);
                opacity: 0.2;
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

// Экосистема EVORICH в цифрах - index ( 7 ) ----------------------------------------------------

.EVORICH-numbers {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        width: 100%;
        max-width: 1070px;
        height: 100%;
        position: absolute;
        right: 50px;
        top: 30px;
        pointer-events: none;
        background: url("../img/index/eath.png") center right no-repeat;
        background-size: contain;
    }
}
.EVORICH-numbers-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 76px;

    
}
.EVORICH-numbers-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.EVORICH-numbers-img {
    width: 100%;
    max-width: 810px;
    height: 100%;
    min-height: 722px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.EVORICH-numbers-text {
    padding: 0 60px;
    height: 100%;
    min-height: 722px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
    .block {
        display: flex;
        flex-direction: column;
        
        align-items: flex-start;
        margin-bottom: 75px;
        &:last-child {
            margin-bottom: 0;
        }
        span {
            display: block;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;

        }
        p {
            font-weight: normal;
            font-size: 15px;
            line-height: 150%;
            width: 100%;
            max-width: 70%;

        }
    }
}

// Что дает партнерство с EVORICH? ( 8 ) ----------------------------------------------------

.EVORICH-partnership {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EVORICH-partnership-row  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.EVORICH-partnership-row-text {
    width: 50%;
    padding-left: 75px;
    span {
        display: block;
        margin-bottom: 45px;
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        text-transform: uppercase;
        width: 100%;
        max-width: 80%;

    }
    p {
        margin-bottom: 35px;
        font-weight: normal;
        font-size: 15px;
        line-height: 180%;
        width: 100%;
        max-width: 400px;
    }
    .tabs-part {
        display: flex;
        
        align-items: flex-start;
        flex-direction: column;
        a {
            
            position: relative;
            margin-bottom: 50px;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            color: #C5C5C5;
            display: flex;
            justify-content: center;
            align-items: center;
       

            &.active {
                background-image: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: #000;  
                -webkit-text-fill-color: rgba(0,0,0,.6);
                &::after {
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                width: 15px;
                height: 18px;
                position: absolute;
                right: -40px;
                opacity: 0.5;
                background: url("../img/icon/line-right.svg") center right no-repeat ;
                background-size: contain;
            }
        }
    }

}
.EVORICH-partnership-row-border {
    width: 100%;
    max-width: 671px;
    height: 100%;
    min-height: 671px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    position: relative;
    &.active {
        display: flex;
    }
    .bg-fons {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        overflow: hidden;
        border-radius: 50%;
        
        &::before {
            content: "";
            width: 50%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        
            background: linear-gradient(29.5deg, #BE1240 11.49%, #801A9A 74.01%, #3E22F8 133.38%);
            
        }
    }
    .bg {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;

    }
    .text {
        width: 50%;
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
     
        .block {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 25px;
            
            &:nth-child(1) {
                margin-left: 50px;
            }
            &:nth-child(2) {
                margin-left: 5px;
            }
            &:nth-child(3) {
                margin-left: -20px;
            }
            &:nth-child(4) {
                margin-left: -22px;
            }
            &:nth-child(5) {
                margin-left: -5px;
            }
            &:nth-child(6) {
                margin-left: 34px;
            }
            &:nth-child(7) {
                margin-left: 55px;
                margin-bottom: 0;
            }
            .img {
                background: #4904FB;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-right: 20px;
                img {
                    margin-right: 0;
                }
            }
            img {
                margin-right: 20px;
            }
            span {
                width: 100%;
                max-width: 60%;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                display: block;
                color: #FFFFFF;
            }
        }
    }
    
}

// форма отправки - ( 9 ) ----------------------------------------------------

.form-message {
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;

    .left {
        width: 100%;
        max-width: 1070px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        padding: 80px 108px;
        padding-left: 20px;
        border: 0.833333px solid rgba(62, 34, 248, 0.2);
        form {
            width: 100%;
            max-width: 510px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            input {
                width: 50%;
                max-width: 212px;
                min-height: 46px;
                padding: 10px 20px;
                background: #FAFAFA;
                font-weight: 500;
                font-size: 16.6667px;
                line-height: 150%;
                border: none;
                margin-right: 20px;
                margin-bottom: 20px;
                border-bottom: 0.833333px solid #C5C5C5;
                &:focus {
                    border-bottom: 0.833333px solid #8A8EFA;
                    &::placeholder {
                        color: #000;
                    }
                }
                &::placeholder {
                    font-weight: 300;
                    font-size: 16.6667px;
                    line-height: 150%;
                    color: #C5C5C5;
                    
                }
                &.w70 {
                    width: 100%;
                    max-width: 291px;
                }   
            }
            .btn {
                max-width: 134px;
                min-width: 134px;
                border: none;
                min-height: 46px;
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
                backdrop-filter: blur(5.33333px);
                font-weight: 200;
                font-size: 12.5px;
                line-height: 15px;
            }

        }

    }
    .right {
        margin-left: 75px;
        width: 100%;
        
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        img {
            margin-bottom: 30px;
        }
        span {
            width: 100%;
            display: block;
            max-width: 300px;
            font-weight: normal;
            font-size: 12.5px;
            line-height: 150%;
        }
    }
}


// История партнеров ( 10 ) ----------------------------------------------------

.section-history-partners {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center;
  
   
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 25px;
            line-height: 31px;
            text-align: center;
            text-transform: uppercase;

        }
        .subtitle {
            margin-bottom: 40px;
            font-weight: 300;
            font-size: 13px;
            line-height: 180%;

            color: #000000;
            display: flex;
          
            p {
                margin: 0 5px;
                color: blue;
            }
        }
        .slides {
            width: 100%;
            margin-bottom: 45px;
            .swiper-container {
                width: 100% !important;
                max-width: 100% !important;
                .swiper-wrapper {
                    width: 100%;
                    .swiper-slide {
                        transition: 0.3s;
                        transform: scale(.7);
                        filter: blur(5px);
                        &.swiper-slide-active {
                           
                            position: relative;
                            z-index: 10;
                            transform: scale(1);
                            filter: blur(0px);
                        }
                        &.swiper-slide-next {
                            position: relative;
                            z-index: 5;
                            transform: scale(.85) scaleX(.7);
                            filter: blur(2.5px);
                            
                        }
                        &.swiper-slide-prev {
                            position: relative;
                            z-index: 5;
                            transform: scale(.85) scaleX(.7);
                            filter: blur(2.5px);
                            
                        }
                        .box {
                            
                            max-width: 546px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            &:hover .btn-mod {
                            
                                opacity: 1;
                            }
                            
                            &-img {
                                min-width: 546px;
                                max-width: 546px;
                                max-height: 333px;
                                min-height: 333px;
                                object-fit: cover;
                               
                            }
                            .btn-mod {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                color: #fff;
                                font-weight: normal;
                                font-size: 13px;
                                line-height: 16px;
                                color: #FFFFFF;
                                padding: 12px 30px;
                                background: rgba(0, 0, 0, 0.6);
                                backdrop-filter: blur(5.33333px);
                                border: 1px solid;
                                border-image: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
                                border-image-slice: 1;
                          
                                opacity: 0;
                                overflow: hidden;
                                &::before {
                                    content: "";
                                    width: 40px;
                                    height: 500px;
                                    position: absolute;
                                    left: -300px;
                                    top: -200px;
                                    background: #fff ;
                                    opacity: 0.2;
                                    transform: rotate(25deg);
                                    animation: btn 2s ease-in-out infinite;
                                    
                                }
                            

                                
                                img {
                                    width: 20px;
                                    margin-left: 15px;
                                    object-fit: cover;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
      

    }
}

// футер ( 11 ) ----------------------------------------------------

.footer {
    width: 100%;
    min-height: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(94.62deg, #931B6D -19.91%, #801A9A 51.5%, #3E22F8 119.3%);
    padding: 60px;
    color: #fff;
    overflow: hidden;
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .box {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 0;
            
            position: relative;
            &::before {
                content: "";
                width: 1px;
                height: 100%;
                min-height: 211px;
                position: absolute;
                right: -30px;
                top: 0;
                background: rgba(0, 0, 0,.2);
                
            }
            &.box-start {
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0 30px;
            }
            &.box-center {
                flex-basis: 35%;
                &::before {
                    right: -70px;
                }
            }
            &:last-child {
                width: 5%;
                align-items: flex-end;
            }
            &:last-child::before {
                background: none;
            }

            .logo {
                margin-bottom: 28px;
                img {
                    width: 125px;
                }
            }
            span {
                margin-bottom: 15px;
                font-weight: 200;
                font-size: 15px;
                line-height: 150%;
    
                color: #FFFFFF;
            }
            p {
                margin-bottom: 15px;
                font-weight: 200;
                font-size: 10.625px;
                line-height: 150%;
    
                color: #FFFFFF;
                opacity: 0.5;
            }
            .p-mod {
                font-size: 12.5px;
            }
            ul {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                li {
                    width: 50%;
                    margin-bottom: 46px;
                    &:nth-child(5) {
                        margin-bottom: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: #FFFFFF;
                        font-weight: normal;
                        font-size: 16.6667px;
                        line-height: 20px;
                    
                    }
                }
            }
            .social {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                a {
                    margin-bottom: 47px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    img {
                        width: 22px;
                    }
                }
            }
    
        }
    }

}

// modal

.modal-menu-drop-header {
    width: 100%;

    background: #fff;
    position: absolute;
    left: 0;
    top: 83px;
    padding: 40px 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    &.active {
        display: flex;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        .our-projects-body {
            width: 100%;
            padding: 0 10px;
            justify-content: space-between;
            align-items: stretch;
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
            .block {
                width: 33.33333%;
                margin-bottom: 0;
                border-right: 1px solid #EEEEEE;
                border-bottom: 1px solid #EEEEEE;
                padding: 30px 0;
                margin: -3px 0;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                cursor: pointer;
                &:nth-child(1) {
                    width: 30%;
                    padding-top: 0;
                    justify-content: flex-start;
                }
                &:nth-child(2) {
                    width: 40%;
                    padding-left: 100px;
                    padding-top: 0;
                    justify-content: flex-start;
                   
                }
                &:nth-child(3) {
                    width: 28%;
                    padding-left: 80px;
                    border-right: 0;
                    padding-top: 0;
                    justify-content: flex-start;

                }
                &:nth-child(4) {
                    width: 30%;
                    border-bottom: 0;
                }
                &:nth-child(5) {
                   
                    border-bottom: 0;
                    width: 40%;
                    padding-left: 100px;
                   
                }
                &:nth-child(6) {
                    width: 28%;
                    border-right: 0;
                    padding-left: 80px;
                    border-bottom: 0;
                }
                .block-span {
                    width: 100%;
                }
                
            }
        }
    }
}

@media (max-width:1200px) {

    .header {
        padding: 0 50px;
        .container {
            .menu {
                ul {
                    li {
                        .menu-open {
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
    }
    .section-what-get {
        .container {
            .content-right {
                .right {
                    padding-right: 30px;
                }
            }
        }
    }
    .EVORICH-numbers {
        padding: 0;
    }
    .form-message {
        .left {
            min-width: 60%;
            padding-left: 20px;
        }
    }
    .footer {
        .container {
            .box {
                &.box-start {
                    
                    padding-left: 0;
                }
            }
        }
    }
    .modal-menu-drop-header {
        .container {
            max-width: 1050px;
        }
    }

}
@media (max-width:980px) {
    .modal-menu-drop-header {
        display: none;
    }
    #hidden-content-menu {
        height: 100%;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
      
      
        .fancybox-close-small {
            left: 10px;
            top: 10px;
            background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
 
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0,0,0,.6);
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: "✖";
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 30px;
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
 
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0,0,0,.6);
            }
            svg {
                display: none;
            }
        }
        .top {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .btn {
                min-width: 170px !important;
                max-width: 170px !important;
                font-size: 8px;
                padding: 12px;
                order: -1;
                img {
                    width: 15px;
                    margin-left: 10px;
                }
            }
        }
        .menu {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .menu-item-a {
                width: 100%;
                
                font-weight: normal;
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 0;
                padding: 25px 0;
                color: #000000;
                border-bottom: 1px solid #EEEEEE;
                &:last-child {
                    border: none;
                }
            }
            .menu-drop-mobile {
                width: 100%;
                
                &.active {
                    span {
                        color: #3E22F8;
                        border-bottom:unset;
                        img {
                            transform: rotate(180deg);
                        }
                    }
                    .menu-drop-mobile-visible {
                        display: block;
                    }
                }
                span {
                    display: flex;
                    align-items: center;
                    width: 100%;
                
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 25px;
                    padding: 25px 0;
                    color: #000000;
                    border-bottom: 1px solid #EEEEEE;
                    img {
                        margin-left: 10px;
                    }
                }
                .menu-drop-mobile-visible {
                    width: 100%;
                    display: none;
                    .our-projects-body {
                        flex-wrap: unset;
                        flex-direction: column;
                        &::before {
                            display: none;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        .lang {
            width: 100%;
            max-width: 50px;
            position: relative;
            margin-top: 11px;
            &-start {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1.33333px solid #EEEEEE;
                border-radius: 2.66667px;
                padding: 6px;
                & img {
                    margin: 0 3px;
                    width: 20px;
                }
                .drop-img {
                    width: 8px;
                    margin-bottom: -2px;
                }
            }
            &-drop {
                position: absolute;
                z-index: 41;
                width: 100%;
                display: flex;
                opacity: 0;
                pointer-events: none;
                justify-content: flex-start;
                align-items: flex-start;
         
                flex-direction: column;
                background: #fff;
                max-height: 100px;
                overflow: auto;
                padding: 10px 0;
                padding-left: 15px;
                &.active {
                    opacity: 1;
                    pointer-events: visible;
                }
                a {
                    margin: 3px 0;
                    img {
                        width: 20px;

                    }
                }
            }
            ::-webkit-scrollbar-button {
                background-image:url('');
                background-repeat:no-repeat;
                width:4px;
                height:0px
            }
                
            ::-webkit-scrollbar-track {
                background-color:#E4E4E4
            }
                
            ::-webkit-scrollbar-thumb {
                -webkit-border-radius: 0px;
                border-radius: 0px;
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);

            }
                
            ::-webkit-scrollbar-thumb:hover{
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);

            }
                
            ::-webkit-resizer{
                background-image:url('');
                background-repeat:no-repeat;
                width:4px;
                height:0px
            }
                
            ::-webkit-scrollbar{
                width: 4px;
            }
        }
 
    }
    .container {
        padding: 40px 30px !important;
        &.container_mod {
            &::before {

                min-height: 600px;
    
            }
            &::after {
    
                min-height: 600px;
    
            }
        }

    }
    .btn-border {
        min-width: 120px;
        min-height: 35px;
        font-size: 10px;
        line-height: 12px;
        padding: 12px 30px;
    }
    .header {
        padding: 5px 15px;
        min-height: 54px;
        background: #fff;
        &.active {
            margin-top: 0;
            background: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(4px);

        }
        .container {
            padding:  0px !important;
            .logo {
                display: none;

            }
            .menu {
                display: none;
            }
            .menu-open {
                width: 30px;
                height: 25px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                order: -1;
                span {
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
                    backdrop-filter: blur(1.49271px);
                    &:nth-child(2) {
                        width: 75%;
                    }
                    &:nth-child(3) {
                        width: 50%;
                    }
                }
            }
            .lang {
                display: none;
                &-start {
                    padding: 7px 5px;
                }
            }
            .btn {
                font-size: 8px;
                padding: 12px;
                order: -1;
                img {
                    width: 15px;
                    margin-left: 10px;
                }
            }
        }
    }
    .section {
        justify-content: space-between;
        min-height: 300px;
        overflow: hidden;
        .container {
            text-align: center;
            margin-top: 0;
            min-height: 100%;
            padding: 0 !important;
            padding-top: 150px !important;
            
            .title {
             
                font-size: 25px;
                line-height: 31px;
                margin-top: 0;
                margin-bottom: 50px;
            }
            .boxs-row {
                display: none;
            }
            .boxs-row-m {
                width: 100%;
                display: flex;
                .swiper-container-2 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .swiper-wrapper {
                        .swiper-slide {
                           
                            .box {
                                min-width: 155px !important;
                                max-width: 100% !important;
                                min-height: 100px;
                                max-height: 100px !important;
                                img {
                                    width: 40px;
                                }
                                span {
                                    width: 70%;
                                    font-size: 8.7163px;
                                    line-height: 12px; 
                                }
                                & .line {
                                    
                                    background: url("../img/icon/line-m.png") left bottom no-repeat;
                                 
                                   
                                }
                                &::after {
                                    display: none;
                                }
                                &.box-l2 {
                                    min-height: 100px;
                                    max-height: 100px !important;
                                    position: relative;
                                    z-index: 1;
                                   
                                  
                                }
                                &.box-l3 {
                                    min-height: 100px;
                                    max-height: 100px !important;
                                    position: relative;
                                    z-index: 1;
                                }
                                &.box-l4 {
                                    min-height: 100px;
                                    max-height: 100px !important;
                                    position: relative;
                                    z-index: 1;
                                    
                                }
                                .border {
                                    margin-bottom: -5px;
                                    border: 10px solid transparent; 
                                    border-left: 10px solid  transparent;
                                }
                                &:nth-child(1):hover ~ :nth-child(2) .border{
                                    border-left: 10px solid #551B9D;
                                }
                
                                
                                &:nth-child(2):hover ~ :nth-child(3) .border{
                                    border-left: 10px solid #551B9D;
                                }
                    
                
                                
                                &:nth-child(3):hover ~ :nth-child(4) .border{
                                    border-left: 10px solid #551B9D;
                                }
                                &:nth-child(3) span {
                                    margin-top: unset;
                                }
                                &:nth-child(3) .border {
                                    margin-top: unset;
                                }
                                &:nth-child(4) .border {
                                    margin-top: unset;
                                }
                            }
                        }
                    }
                }
                
            }

        }

    }
    .section-what-get {
        padding: 0;
        overflow: hidden;
        .container {
            flex-direction: column;
            .left {
                padding: 0;
                position: relative;
                &::before {
                    content: "";
                    width: 100%;
                    max-width: 250px;
                    height: 100%;
                    max-height: 250px;
                    position: absolute;
                    right: -30px;
                    top: 0;
                    z-index: -1;
                    background: url("../img/index/eath-m.png") center right no-repeat;
                    
                }
                span {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 30px;
                }
                a {
                    font-size: 13px;
                    line-height: 16px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
            .content-right {
                margin-top: 60px;
                align-items: flex-start;
                .right {
                    min-width: 100%;
                    &-img {
                        display: none;
                    }
                    .text {
                        p {
                            margin-bottom: 30px;
                        }
                    }
                }
                .btn {
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
    .our-projects {
        .container {
            padding: 0 !important;
        }
    }
    .our-projects-title {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        padding: 0 30px;
        span {
            margin-bottom: 30px;
        }
        .block {
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 50px;
            img {
                margin-bottom: 20px;
            }
            
        }
    }
    .our-projects-body {
        align-items: flex-start;
        padding: 30px;
        .block {
            width: 50%;
            margin-right: 0;
            min-height: 116px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 40px;
            &:nth-child(4) {
                margin-top: -15px;
                .block-icon {
                    position: relative;
                    bottom: -15px;
                }
            }
            &-span {
                width: 100%;
            }
           
        }
    }
    .EVORICH-numbers {
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .EVORICH-numbers-title {
        text-align: left;   
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .EVORICH-numbers-row {
        flex-direction: column;
    }
    .EVORICH-numbers-img {
        min-height: 100%;
    }
    .EVORICH-numbers-text {
        min-height: 100%;
        width: 100%;
        padding: 46px 0;
        .block {
            margin-bottom: 47px;
            span {
                margin-bottom: 10px;
                font-size: 25px;
                line-height: 31px;
            }
            p {
                font-size: 13px;
                line-height: 150%;
            }
        }
    }
    .EVORICH-partnership {
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
    }
    .EVORICH-partnership-row  {
        flex-direction: column;
        align-items: flex-start;
    }
    .EVORICH-partnership-row-text {
    
        width: 100%;
        padding-left: 0;
        span {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 30px;
        }
        p {
            font-size: 13px;
            line-height: 180%;
            margin-bottom: 30px;
        }
        .tabs-part {
            a {
                margin-bottom: 25px;
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
    .EVORICH-partnership-row-border {
        min-width: 671px;
        min-height: 671px;
        position: relative;
        right: -10px;
        .text {
            .block {
                &:first-child {
                    span {
                        max-width: 40%;
                    }
                }
                span {
                    font-size: 12px;
                    max-width: 50%;
                }
            }
        }
    }
    .form-message {
        width: 100%;
        padding: 0 30px;

        flex-direction: column;
        position: relative;
        &::before {
            content: "";
            width: 65%;
        
            min-height: 900px;
            position: absolute;
            left: 0;
            top: 0%;
            z-index: -1;
            opacity: 0.5;
            border-left: 0.833333px solid #F5F5F5;
            border-right: 0.833333px solid #F5F5F5;
        }
        &::after {
            content: "";
            width: 65%;
            height: 100%;
            min-height: 900px;
            position: absolute;
            right: 0;
            top: 0%;
            z-index: -1;
            opacity: 0.5;
        
            border-left: 0.833333px solid #F5F5F5;
            border-right: 0.833333px solid #F5F5F5;
        }
        .left {
            border: none;
            padding: 40px 0;
            form {
                width: 100%;
                max-width: 100%;
                justify-content: space-between;
                input {
                    max-width: 48%;
                    min-height: 30px;
                    margin-right: 0;
                    width: 48%;
                    margin-bottom: 12px;
                    font-size: 9.92449px;
                    line-height: 150%;
                    padding: 6px 12px;
                    &::placeholder {
                        font-size: 9.92449px;
                        line-height: 150%;
                    }
                    &.w70 {
                        max-width: 60%;
                    }
                }
                .btn {
                    max-width: 35%;
                    min-height: 30px;
                    min-width: 35%;
                    font-size: 9.92449px;
                    line-height: 150%;
                }
            }
        }
        .right {
            order: -1;
            margin: 0;
        }
    }
    .section-history-partners {
        min-height: 100%;
        padding-bottom: 30px;
        .container {
            .title {
                font-size: 15.425px;
                line-height: 18px;
                margin-bottom: 7px;
            }
            .subtitle {
                font-size: 10.71251px;
                line-height: 180%;
                margin-bottom: 15px;
            }
            .slides {
                margin-bottom: 20px;
                .swiper-container {
                    .swiper-wrapper {
                        .swiper-slide {
                            .box {
                                &-img {
                                    min-width: 185px;
                                    max-width: 185px;
                                    max-height: 115px;
                                    min-height: 115px;
                                }
                                .btn-mod {
                                    font-size: 10px;
                                    line-height: 14px;
                                    padding: 7px 12px;
                                    margin-bottom: -50px;
                                    min-width: 130px;
                                    img {
                                        width: 10px;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        } 
                    }
                }
            }
            .btn-border {
                margin-top: 30px;
            }
        }
    }
    .footer {
        width: 100%;
        min-height: 100%;
        padding: 0px ;
        
        justify-content: center;
        .container {
            width: 100%;
            justify-self: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 30px 15px !important;
            .box {
                width: 100% !important;
                padding: 0;
                border: unset;
                border-bottom: 1.33333px solid rgba(0, 0, 0,.2);
                padding-bottom: 10px;
                min-height: 100% !important;
                margin: 0;
                padding-top: 0;
                padding: 15px 0;
                align-items: flex-start;
                justify-content: flex-start;
                &::before {
                    display: none;
                }
                &:last-child {
                    border: unset;
                    padding-left: 0;
                    justify-content: center;
                    align-items: center;
                }
                &.box-start {
                 
                    padding: 0px;
                }
                .logo {
                    margin-bottom: 20px;
                    img {
                        width: 100px;
                       
                    }
                }
                span {
                    font-size: 14px;
                    line-height: 150%; 
                    margin-bottom: 12px;
                }
                p {
                    font-size: 12px;
                    line-height: 150%; 
                    margin-bottom: 10px;
                }
                .p-mod {
                    font-size: 14px;
                }
                ul {
                    li {
                        margin-bottom: 15px;
                        a {
                            font-size: 12.7022px;
                            line-height: 16px;
                        }
                    }
                }
                .social {
                    flex-direction: row;
                    a {
                        margin-bottom: 0;
                        margin: 0 10px;
                        img {
                            width: 23px;
                        }
                    }
                }
            }
        }
    
    }
}
@media (max-width:480px) {
 
    #hidden-content-menu {
        height: 100%;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
      
      
        .fancybox-close-small {
            left: 10px;
            top: 10px;
            background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
 
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0,0,0,.6);
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: "✖";
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 30px;
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
 
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0,0,0,.6);
            }
            svg {
                display: none;
            }
        }
        .top {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .btn {
                min-width: 170px !important;
                max-width: 170px !important;
                font-size: 8px;
                padding: 12px;
                order: -1;
                img {
                    width: 15px;
                    margin-left: 10px;
                }
            }
        }
        .menu {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .menu-item-a {
                width: 100%;
                
                font-weight: normal;
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 0;
                padding: 25px 0;
                color: #000000;
                border-bottom: 1px solid #EEEEEE;
                &:last-child {
                    border: none;
                }
            }
            .menu-drop-mobile {
                width: 100%;
                
                &.active {
                    span {
                        color: #3E22F8;
                        border-bottom:unset;
                        img {
                            transform: rotate(180deg);
                        }
                    }
                    .menu-drop-mobile-visible {
                        display: block;
                    }
                }
                span {
                    display: flex;
                    align-items: center;
                    width: 100%;
                
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 25px;
                    padding: 25px 0;
                    color: #000000;
                    border-bottom: 1px solid #EEEEEE;
                    img {
                        margin-left: 10px;
                    }
                }
                .menu-drop-mobile-visible {
                    width: 100%;
                    display: none;
                    .our-projects-body {
                        flex-wrap: unset;
                        flex-direction: column;
                        &::before {
                            display: none;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        .lang {
            width: 100%;
            max-width: 50px;
            position: relative;
            margin-top: 11px;
            &-start {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1.33333px solid #EEEEEE;
                border-radius: 2.66667px;
                padding: 6px;
                & img {
                    margin: 0 3px;
                    width: 20px;
                }
                .drop-img {
                    width: 8px;
                    margin-bottom: -2px;
                }
            }
            &-drop {
                position: absolute;
                z-index: 41;
                width: 100%;
                display: flex;
                opacity: 0;
                pointer-events: none;
                justify-content: flex-start;
                align-items: flex-start;
         
                flex-direction: column;
                background: #fff;
                max-height: 100px;
                overflow: auto;
                padding: 10px 0;
                padding-left: 15px;
                &.active {
                    opacity: 1;
                    pointer-events: visible;
                }
                a {
                    margin: 3px 0;
                    img {
                        width: 20px;

                    }
                }
            }
            ::-webkit-scrollbar-button {
                background-image:url('');
                background-repeat:no-repeat;
                width:4px;
                height:0px
            }
                
            ::-webkit-scrollbar-track {
                background-color:#E4E4E4
            }
                
            ::-webkit-scrollbar-thumb {
                -webkit-border-radius: 0px;
                border-radius: 0px;
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);

            }
                
            ::-webkit-scrollbar-thumb:hover{
                background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);

            }
                
            ::-webkit-resizer{
                background-image:url('');
                background-repeat:no-repeat;
                width:4px;
                height:0px
            }
                
            ::-webkit-scrollbar{
                width: 4px;
            }
        }
 
    }
  
    .container {
        padding: 40px 30px !important;
        &.container_mod {
            &::before {

                min-height: 600px;
    
            }
            &::after {
    
                min-height: 600px;
    
            }
        }

    }
    .btn-border {
        min-width: 120px;
        min-height: 35px;
        font-size: 10px;
        line-height: 12px;
        padding: 12px 30px;
    }
    .header {
        padding: 5px 25px;
        min-height: 54px;
        background: #fff;
        &.active {
            margin-top: 0;
            background: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(4px);

        }
        .container {
            padding:  0px !important;
            .logo {
                display: none;

            }
            .menu {
                display: none;
            }
            .menu-open {
                width: 30px;
                height: 25px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                order: -1;
                span {
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
                    backdrop-filter: blur(1.49271px);
                    &:nth-child(2) {
                        width: 75%;
                    }
                    &:nth-child(3) {
                        width: 50%;
                    }
                }
            }
            .lang {
                display: none;
                &-start {
                    padding: 7px 5px;
                }
            }
            .btn {
                font-size: 8px;
                padding: 12px;
                order: -1;
                img {
                    width: 15px;
                    margin-left: 10px;
                }
            }
        }
    }
    .section {
        justify-content: space-between;
        min-height: 300px;
        overflow: hidden;
        .container {
            text-align: center;
            margin-top: 0;
            min-height: 100%;
            padding: 0 !important;
            padding-top: 150px !important;
            
            .title {
             
                font-size: 25px;
                line-height: 31px;
                margin-top: 0;
                margin-bottom: 50px;
            }
            .boxs-row {
                display: none;
            }
            .boxs-row-m {
                width: 100%;
                display: flex;
                .swiper-container-2 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .swiper-wrapper {
                        .swiper-slide {
                           
                            .box {
                                min-width: 155px !important;
                                max-width: 100% !important;
                                min-height: 100px;
                                max-height: 100px !important;
                                img {
                                    width: 40px;
                                }
                                span {
                                    width: 70%;
                                    font-size: 8.7163px;
                                    line-height: 12px; 
                                }
                                & .line {
                                    
                                    background: url("../img/icon/line-m.png") left bottom no-repeat;
                                 
                                   
                                }
                                &::after {
                                    display: none;
                                }
                                &.box-l2 {
                                    min-height: 100px;
                                    max-height: 100px !important;
                                    position: relative;
                                    z-index: 1;
                                   
                                  
                                }
                                &.box-l3 {
                                    min-height: 100px;
                                    max-height: 100px !important;
                                    position: relative;
                                    z-index: 1;
                                }
                                &.box-l4 {
                                    min-height: 100px;
                                    max-height: 100px !important;
                                    position: relative;
                                    z-index: 1;
                                    
                                }
                                .border {
                                    margin-bottom: -5px;
                                    border: 10px solid transparent; 
                                    border-left: 10px solid  transparent;
                                }
                                &:nth-child(1):hover ~ :nth-child(2) .border{
                                    border-left: 10px solid #551B9D;
                                }
                
                                
                                &:nth-child(2):hover ~ :nth-child(3) .border{
                                    border-left: 10px solid #551B9D;
                                }
                    
                
                                
                                &:nth-child(3):hover ~ :nth-child(4) .border{
                                    border-left: 10px solid #551B9D;
                                }
                                &:nth-child(3) span {
                                    margin-top: unset;
                                }
                                &:nth-child(3) .border {
                                    margin-top: unset;
                                }
                                &:nth-child(4) .border {
                                    margin-top: unset;
                                }
                            }
                        }
                    }
                }
                
            }

        }

    }
    .section-what-get {
        padding: 0;
        overflow: hidden;
        .container {
            flex-direction: column;
            .left {
                padding: 0;
                position: relative;
                &::before {
                    content: "";
                    width: 100%;
                    max-width: 250px;
                    height: 100%;
                    max-height: 250px;
                    position: absolute;
                    right: -30px;
                    top: 0;
                    z-index: -1;
                    background: url("../img/index/eath-m.png") center right no-repeat;
                    
                }
                span {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 30px;
                }
                a {
                    font-size: 13px;
                    line-height: 16px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
            .content-right {
                margin-top: 60px;
                align-items: flex-start;
                .right {
                    min-width: 100%;
                    &-img {
                        display: none;
                    }
                    .text {
                        p {
                            margin-bottom: 30px;
                        }
                    }
                }
                .btn {
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
    .our-projects {
        .container {
            padding: 0 !important;
        }
    }
    .our-projects-title {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        padding: 0 30px;
        span {
            margin-bottom: 30px;
        }
        .block {
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 50px;
            img {
                margin-bottom: 20px;
            }
            
        }
    }
    .our-projects-body {
        align-items: flex-start;
        padding: 30px;
        .block {
            width: 50%;
            margin-right: 0;
            min-height: 116px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 40px;
            &:nth-child(4) {
                margin-top: -15px;
                .block-icon {
                    position: relative;
                    bottom: -15px;
                }
            }
            &-span {
                width: 100%;
            }
           
        }
    }
    .EVORICH-numbers {
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .EVORICH-numbers-title {
        text-align: left;   
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .EVORICH-numbers-row {
        flex-direction: column;
    }
    .EVORICH-numbers-img {
        min-height: 100%;
    }
    .EVORICH-numbers-text {
        min-height: 100%;
        width: 100%;
        padding: 46px 0;
        .block {
            margin-bottom: 47px;
            span {
                margin-bottom: 10px;
                font-size: 25px;
                line-height: 31px;
            }
            p {
                font-size: 13px;
                line-height: 150%;
            }
        }
    }
    .EVORICH-partnership {
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
    }
    .EVORICH-partnership-row  {
        flex-direction: column;
        align-items: flex-start;
    }
    .EVORICH-partnership-row-text {
    
        width: 100%;
        padding-left: 0;
        span {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 30px;
        }
        p {
            font-size: 13px;
            line-height: 180%;
            margin-bottom: 30px;
        }
        .tabs-part {
            a {
                margin-bottom: 25px;
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
    .EVORICH-partnership-row-border {
        min-width: 671px;
        min-height: 671px;
        position: relative;
        right: -10px;
        .text {
            .block {
                &:first-child {
                    span {
                        max-width: 40%;
                    }
                }
                span {
                    font-size: 12px;
                    max-width: 50%;
                }
            }
        }
    }
    .form-message {
        width: 100%;
        padding: 0 30px;

        flex-direction: column;
        position: relative;
        &::before {
            content: "";
            width: 65%;
        
            min-height: 900px;
            position: absolute;
            left: 0;
            top: 0%;
            z-index: -1;
            opacity: 0.5;
            border-left: 0.833333px solid #F5F5F5;
            border-right: 0.833333px solid #F5F5F5;
        }
        &::after {
            content: "";
            width: 65%;
            height: 100%;
            min-height: 900px;
            position: absolute;
            right: 0;
            top: 0%;
            z-index: -1;
            opacity: 0.5;
        
            border-left: 0.833333px solid #F5F5F5;
            border-right: 0.833333px solid #F5F5F5;
        }
        .left {
            border: none;
            padding: 40px 0;
            form {
                width: 100%;
                justify-content: space-between;
                input {
                    max-width: 48%;
                    min-height: 30px;
                    margin-right: 0;
                    width: 48%;
                    margin-bottom: 12px;
                    font-size: 9.92449px;
                    line-height: 150%;
                    padding: 6px 12px;
                    &::placeholder {
                        font-size: 9.92449px;
                        line-height: 150%;
                    }
                    &.w70 {
                        max-width: 60%;
                    }
                }
                .btn {
                    max-width: 35%;
                    min-height: 30px;
                    min-width: 35%;
                    font-size: 9.92449px;
                    line-height: 150%;
                }
            }
        }
        .right {
            order: -1;
            margin: 0;
        }
    }
    .section-history-partners {
        min-height: 100%;
        padding-bottom: 30px;
        .container {
            .title {
                font-size: 15.425px;
                line-height: 18px;
                margin-bottom: 7px;
            }
            .subtitle {
                font-size: 10.71251px;
                line-height: 180%;
                margin-bottom: 15px;
            }
            .slides {
                margin-bottom: 20px;
                .swiper-container {
                    .swiper-wrapper {
                        .swiper-slide {
                            .box {
                                &-img {
                                    min-width: 185px;
                                    max-width: 185px;
                                    max-height: 115px;
                                    min-height: 115px;
                                }
                                .btn-mod {
                                    font-size: 10px;
                                    line-height: 14px;
                                    padding: 7px 12px;
                                    margin-bottom: -50px;
                                    min-width: 130px;
                                    img {
                                        width: 10px;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        } 
                    }
                }
            }
            .btn-border {
                margin-top: 30px;
            }
        }
    }
    .footer {
        width: 100%;
        min-height: 100%;
        padding: 0px ;
        
        justify-content: center;
        .container {
            width: 100%;
            justify-self: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 30px 15px !important;
            .box {
                width: 100% !important;
                padding: 0;
                border: unset;
                border-bottom: 1.33333px solid rgba(0, 0, 0,.2);
                padding-bottom: 10px;
                min-height: 100% !important;
                margin: 0;
                padding-top: 0;
                padding: 15px 0;
                align-items: flex-start;
                justify-content: flex-start;
                &::before {
                    display: none;
                }
                &:last-child {
                    border: unset;
                    padding-left: 0;
                    justify-content: center;
                    align-items: center;
                }
                &.box-start {
                 
                    padding: 0px;
                }
                .logo {
                    margin-bottom: 20px;
                    img {
                        width: 100px;
                       
                    }
                }
                span {
                    font-size: 14px;
                    line-height: 150%; 
                    margin-bottom: 12px;
                }
                p {
                    font-size: 12px;
                    line-height: 150%; 
                    margin-bottom: 10px;
                }
                .p-mod {
                    font-size: 14px;
                }
                ul {
                    li {
                        margin-bottom: 15px;
                        a {
                            font-size: 12.7022px;
                            line-height: 16px;
                        }
                    }
                }
                .social {
                    flex-direction: row;
                    a {
                        margin-bottom: 0;
                        margin: 0 10px;
                        img {
                            width: 23px;
                        }
                    }
                }
            }
        }
    
    }
}